<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="format-detection" content="telephone=no">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no">
        <!-- Cache reset -->
        <meta http-equiv="Expires" content="Mon, 06 Jan 2016 00:00:01 GMT">
        <meta http-equiv="Expires" content="-1">
        <meta http-equiv="Pragma" content="no-cache">
        <meta http-equiv="Cache-Control" content="no-cache">
        <!-- icon_favicon -->
        <link rel="shortcut icon" type="image/x-icon" th:href="@{/images/ico_favicon_60x60.png}"><!-- 윈도우즈 사이트 아이콘, HiDPI/Retina 에서 Safari 나중에 읽기 사이드바 -->
        <!-- css -->
        <link rel="stylesheet" type="text/css" th:href="@{/css/font.css}">
        <link rel="stylesheet" type="text/css" th:href="@{/css/reset.css}">
        <link rel="stylesheet" type="text/css" th:href="@{/css/all.css}">
        <link rel="stylesheet" type="text/css" th:href="@{/css/aicc_potal.css(${#dates.createToday()})}">

        <title>HAICC</title>
    </head>

    <body class="gcsWrap">
        <form id="userProfileForm" name="userProfileForm">
            <input type="hidden" id="user_id" name="user_id" th:value="${session.accessUser.user_id}" />
            <input type="hidden" id="user_pw" name="user_pw" value="" />
            <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
        </form>
        <!-- .page loading -->
        <div id="pageldg">
            <span class="out_bg">
                <em>
                    <strong>&nbsp;</strong>
                    <strong>&nbsp;</strong>
                    <strong>&nbsp;</strong>
                    <b>&nbsp;</b>
                </em>
            </span>
        </div>
        <!-- //.page loading -->

        <!-- #wrap -->
        <div id="wrap">
            <!-- .pnb -->
            <div id="pnb" class="pnb" layout:fragment="pnb">
                <h1>
                    <span>Fast AICC</span>
                    <button type="button" class="btn_potal_ham"><em class="ico_ham">potal 네비게이션</em></button>
                </h1>
                <ul class="nav_pnb">
                    <li><h2>상담관리</h2>
                        <ul class="sub">
                            <li class="ico_inbound active"><a href="#none"><span>I/B상담</span></a>
                                <ul class="third">
                                    <li><a href="#none"><span>대시보드</span></a></li>
                                    <li><a th:href="@{/hybrid/in-bound}"><span>I/B 상담원 화면</span></a></li>
                                    <li><a th:href="@{/hybrid/in-bound/statics-main}"><span>I/B Call 통계</span></a></li>
                                </ul>
                            </li>
                            <li class="ico_outbound"><a href="#none"><span>O/B상담</span></a>
                                <ul class="third">
                                    <li><a href="#none"><span>대시보드</span></a></li>
                                    <li><a th:href="@{/hybrid/out-bound}"><span>O/B 상담원 화면</span></a></li>
                                    <li><a href="#none"><span>O/B Call 통계</span></a></li>
                                </ul>
                            </li>
                            <li class="ico_chatBot"><a class="ico_chat" th:href="@{/human/chatting-counseling}"><span>챗봇상담</span></a></li>
                            <li class="ico_callStats"><a href="#none"><span>Analytics</span></a>
                                <ul class="third">
                                    <li><a href="#none"><span>상담원별 통계</span></a></li>
                                    <li><a href="#none"><span>문의 유형별 통계</span></a></li>
                                    <li><a th:href="@{/analytics}"><span>QA관리</span></a></li>
                                </ul>
                            </li>
                        </ul>
                    </li>
                    <li><h2>AI-IVR</h2>
                        <ul class="sub">
                            <li class="ico_aiIVR"><a th:href="@{/aiIVR}"><span>IVR Setting</span></a></li>
                            <li class="ico_analytics"><a href="#none"><span>현황모니터링</span></a></li>
                        </ul>
                    </li>
                    <li><h2>챗봇 빌더</h2>
                        <ul class="sub">
                            <li class="ico_site"><a th:href="@{/chatbot-admin/dashboard}"><span>서비스 현황</span></a></li>
                            <li class="ico_chatBot_setting"><a th:href="@{/chatbot-admin/chatbot-management}"><span>챗봇 관리</span></a></li>
                            <li class="ico_domain"><a href="#none"><span>도메인 관리</span></a>
                                <ul class="third">
                                    <li><a th:href="@{/chatbot-admin/bqa}"><span>BQA</span></a></li>
                                    <li><a th:href="@{/chatbot-admin/scenario}"><span>시나리오</span></a></li>
                                </ul>
                            </li>
                            <li class="ico_setupAdd"><a href="#none"><span>부가기능</span></a>
                                <ul class="third">
                                    <li><a th:href="@{/chatbot-admin/api}"><span>API</span></a></li>
                                    <li><a th:href="@{/chatbot-admin/nlp-test}"><span>NLP 테스트</span></a></li>
                                </ul>
                            </li>
                            <li class="ico_quality"><a href="#none"><span>기본관리</span></a>
                                <ul class="third">
                                    <li><a th:href="@{/chatbot-admin/workspace}"><span>Workspace 관리</span></a></li>
                                    <li><a th:href="@{/chatbot-admin/team}"><span>Team 관리</span></a></li>
                                    <li><a th:href="@{/chatbot-admin/user}"><span>User 관리</span></a></li>
                                    <li><a th:href="@{/chatbot-admin/code}"><span>코드 관리</span></a></li>
                                    <li><a th:href="@{/chatbot-admin/code-group}"><span>코드 그룹 관리</span></a></li>
                                </ul>
                            </li>
                            <li class="ico_chat"><a href="#none"><span>대화 모니터링</span></a>
                                <ul class="third">
                                    <li><a th:href="@{/chatbot-admin/logs}"><span>대화 이력 조회</span></a></li>
                                    <li><a th:href="@{/chatbot-admin/error}"><span>답변불가 대화현황 조회</span></a></li>
                                </ul>
                            </li>
                            <li class="ico_avatar"><a th:href="@{/chatbot-admin/profile}"><span>프로필</span></a></li>
                            <li class="ico_book"><a href="#none"><span>NLP 사전관리</span></a>
                                <ul class="third">
                                    <li><a th:href="@{/chatbot-admin/nlp-synonym}"><span>유의어 처리</span></a></li>
                                    <li><a th:href="@{/chatbot-admin/nlp-employees}"><span>사용자 사전</span></a></li>
                                </ul>
                            </li>
                        </ul>
                    </li>
                    <li><h2>사용자관리</h2>
                        <ul class="sub">
                            <li class="ico_user"><a th:href="@{/admin/userManagement}"><span>사용자관리</span></a></li>
                        </ul>
                    </li>
                </ul>
            </div>
            <!-- //.pnb -->
            
            <!-- .potalWrap -->
            <div class="potalWrap">
                <!-- #header -->

                <div id="header" layout:fragment="header">
                </div>
                <!-- //#header -->

                <hr>

                <!-- #container -->
                <div id="container" layout:fragment="container">
                </div>
                <!-- //#container -->

                <hr>

                <!-- #footer -->
                <div id="footer" layout:fragment="footer">
                    <div class="cyrt"><span>&copy; MINDsLab. All rights reserved.</span></div>
                </div>
                <!-- //#footer -->
            </div>
            <!-- //#potalWrap -->
        </div>
        <!-- //#wrap -->

        <!-- lyrWrap -->
        <div class="lyrWrap">
            <div class="lyr_bg"></div>
            <!-- 사용자 공통 프로필 -->
            <div class="lyrBox lyr_profile">
                <div class="lyr_top">
                    <h3>프로필</h3>
                    <button class="btn_lyr_close">닫기</button>
                </div>
                <div class="lyr_mid">
                    <dl class="dlBox">
                        <dt>아이디</dt>
                        <dd>
                            <div class="iptBox">
                                <input type="text" class="ipt_txt" th:value="${session.accessUser.user_id}" disabled>
                            </div>
                        </dd>
                    </dl>
                    <dl class="dlBox">
                        <dt>이름</dt>
                        <dd>
                            <div class="iptBox">
                                <input type="text" class="ipt_txt" th:value="${session.accessUser.user_nm}" disabled>
                            </div>
                        </dd>
                    </dl>
                    <dl class="dlBox">
                        <dt>비밀번호</dt>
                        <dd>
                            <div class="iptBox" style="margin-bottom:7px;">
                                <input type="password" id="password1" class="ipt_txt" placeholder="비밀번호" maxlength="20" autocomplete="new-password">
                                <!-- [D] 에러메세지 -->
                                <p class="error_msg" id="pw_check_msg" style="display:none">패스워드 생성규칙이 올바르지 않습니다. 8~20자 이내, 대소문자 숫자 포함</p>
                            </div>
                            <div class="iptBox">
                                <input type="password" id="password2"  class="ipt_txt" placeholder="비밀번호 확인" maxlength="20" autocomplete="new-password">
                                <!-- [D] 에러메세지 -->
                                <p class="error_msg" id="pw_not_match_msg" style="display:none">패스워드가 일치하지 않습니다.</p>
                            </div>
                        </dd>
                    </dl>
                </div>
                <div class="lyr_btm">
                    <div class="btnBox sz_small">
                        <button class="" th:onclick="'javascript:updateUserPwd();'" >확인</button>
                    </div>
                </div>
            </div>
            <!-- //사용자 공통 프로필 -->
            <!-- 사용자 등록 -->
            <div class="lyrBox lyr_user_add" layout:fragment="lyr_user_add">
            </div>
            <!-- //사용자 등록 -->
            <!-- 사용자 변경 -->
            <div class="lyrBox lyr_user_mody" layout:fragment="lyr_user_mody">
            </div>
            <!-- //사용자 변경 -->
        </div>
        <!-- //lyrWrap(사용자 프로필) -->

        <!-- 프로필 비밀번호 변경 script -->
        <script type="text/javascript">
            /** User - 수정  */
            function updateUserPwd(){

                var password1 = $("#password1").val();
                var password2 = $("#password2").val();

                if(password1 != null && password1 != ''){
                    if(!pwd_check(password1)){
                        $('#pw_check_msg').show();
                        $('#pw_not_match_msg').hide();
                        return;
                    }else{
                        $('#pw_check_msg').hide();
                    }
                }

                if(password1 == '' && password2 == ''){
                    $('.lyrWrap').hide();
                    $('.lyrBox').hide();
                    return;
                }

                if(password1 != password2){
                    // alert("비밀번호가 일치하지 않습니다.");
                    $('#pw_not_match_msg').show();
                    $("#password1").focus();
                    return;
                }else{
                    $('#pw_not_match_msg').hide();
                    $("#user_pw").val(password1);
                }

                // if($("#memberPw").val() == 'same'){
                //     alert("이전에 사용하시던 비밀번호와 동일합니다. 비밀번호는 변경이 필요하신 경우에만 입력해 주세요.");
                //     $("#password1").val('');
                //     $("#password2").val('');
                //     return;
                // }

                var yn = confirm("비밀번호 수정하시겠습니까?");
                if(yn){

                    $.ajax({
                        type 		: 'post',
                        url  		: '/user/updateUserPwd',
                        data    : $("#userProfileForm").serialize(),
                        dataType: "JSON",
                        cache   : false,
                        async   : true,
                        type		: "POST",
                        success : function(obj) {
                            console.log('success pwd');
                            updateUserPwdCallback(obj);
                        },
                        error 	: function(xhr, status, error) {}
                    });
                }
            }

            function updateUserPwdCallback(obj){

                if(obj != null){

                    var result = obj.result;

                    if(result == "SUCCESS"){
                        alert("수정 성공하였습니다.");
                        $('.lyrWrap').hide();
                        $('.lyrBox').hide();
                    } else {
                        alert("수정 실패하였습니다.");
                        return;
                    }
                }
            }

            function pwd_check(userPassword){

                if(userPassword.length < 8) {
                    //alert("비밀번호는 대문자+숫자+특수문자를 조합하여 8자이상 입력해 주셔야 합니다.");
                    return;
                }

                if(!userPassword.match(/(?=^.{8,}$)((?=.*\d)|(?=.*\W+))(?![.\n])(?=.*[A-Z])(?=.*[a-z]).*$/)) {
                    //alert("비밀번호는 대문자+숫자+특수문자를 조합하여 8자이상 입력해 주셔야 합니다.");
                    return;
                }
                return true;
            }
        </script>


        <!-- 공통 script -->
        <script type="text/javascript" th:src="@{/js/jquery-1.11.2.min.js}"></script>
        <script type="text/javascript" th:src="@{/js/all.js}"></script>
        <script type="text/javascript" th:src="@{/js/common.js(${#dates.createToday()})}"></script>
        <script type="text/javascript" th:src="@{/js/jsrender.min.js}"></script>

        <!-- 공통  $(window).load(function() -->
        <script type="text/javascript" layout:fragment="custom-winload">
            console.log('mainLayout custom-winload');
        </script>
        <!-- 공통 script -->
        <script type="text/javascript" layout:fragment="custom-script">
            console.log('mainLayout custom-script');
        </script>
        <!-- 공통 jsrender listTemplate -->
        <script id="listTemplate" type="text/x-jsrender" layout:fragment="custom-listTemplate">
        </script>
    </body>
</html>
