@charset "utf-8";
/* MINDsLab. UX/UI Team. YMJ. 20190813 */

/* 페이지 랜딩 로딩 */
.page_ldWrap {position:fixed; left:0; top:0; width:100%; height:100%; background:#fff; z-index:999;}
.page_ldBg {background-color:#ed184f!important; background-image:linear-gradient(90deg, #fd5581, #fd8b55);}
.intro-banner-vdo-play-btn{position:absolute; top:50%; left:50%; width:100px; height:100px; margin:-30px 0 0 -30px; text-align:center; border-radius:100px; z-index:1;}
.intro-banner-vdo-play-btn em {font-size:30px; line-height:56px;}
.intro-banner-vdo-play-btn .ripple{position:absolute; top:50%; left:50%; width:260px; height:260px; margin:-130px 0 0 -130px; border-radius:200px; opacity:0; -webkit-animation:ripple 1.8s infinite; animation:ripple 1.8s infinite; z-index:-1;}

.pageldg_hide {-webkit-animation-duration:1s; animation-duration:1s; -webkit-animation-fill-mode:both; animation-fill-mode:both; -webkit-animation-name:pageldg_hide; animation-name:pageldg_hide;}
@-webkit-keyframes pageldg_hide {
0%   {opacity:1;}
100% {opacity:0;}
}

@keyframes pageldg_hide {
0%   {opacity:1;}
100% {opacity:0;}
}

#btn_goChat {display:block; overflow:hidden; position:fixed; right:0; bottom:55px; width:72px; height:0; margin:0 15px 0 0; padding:66px 0 0 0; border:2px solid #ececfa; border-radius:70px; background-position:center center; background-size:cover; background-repeat:no-repeat; opacity:1; z-index:8888; cursor:pointer; -webkit-animation-duration:1.2s; animation-duration:1.2s; -webkit-animation-fill-mode:both; animation-fill-mode:both; -webkit-animation-name:goChat; animation-name:goChat; transition:all 0.3s ease-out;}

@-webkit-keyframes goChat {
0%   {opacity:0; display:none; right:50px;}
50%   {opacity:0; display:none; right:50px;}
100% {opacity:1; display:block; right:0;}
}

@keyframes goChat {
0%   {opacity:0; display:none; right:50px;}
50%   {opacity:0; display:none; right:50px;}
100% {opacity:1; display:block; right:0;}
}

#btn_goChat.goChat_hide {-webkit-animation-duration:0.5s; animation-duration:0.5s; -webkit-animation-fill-mode:both; animation-fill-mode:both; -webkit-animation-name:goChat_hide; animation-name:goChat_hide; }
@-webkit-keyframes goChat_hide {
0%   {opacity:1; display:block; right:0;}
50%   {opacity:1; display:block; right:0;}
100% {opacity:0; display:none; right:50px;}
}

@keyframes goChat_hide {
0% {opacity:1; display:block; right:0;}
50% {opacity:1; display:block; right:0;}
100% {opacity:0; display:none; right:50px;}
}

/* 공통 */
#chatUI_wrap {display:none; overflow:hidden; float:right; position:absolute; right:15px; bottom:55px; width:400px; min-width:320px; height:calc(100% - 57px); vertical-align:bottom; border:1px solid #ececfa; border-radius:10px; background:rgba(238, 238, 238, 0.95); z-index:9999; transition:all 0.3s ease-out;}

#chatUI_wrap.chatUI_show {display:block; -webkit-animation-duration:1.2s; animation-duration:1.2s; -webkit-animation-fill-mode:both; animation-fill-mode:both; -webkit-animation-name:chat_show; animation-name:chat_show;}

@-webkit-keyframes chat_show {
0%   {opacity:0; display:none; margin-right:50px;}
50%  {opacity:0; display:none; margin-right:50px;}
100% {opacity:1; display:block; margin-right:0;}
}

@keyframes chat_show {
0%   {opacity:0; display:none; margin-right:50px;}
50%  {opacity:0; display:block; margin-right:50px;}
100% {opacity:1; display:block; margin-right:0;}
}

#chatUI_wrap.chatUI_hide {display:block; min-width:320px; height:calc(100% - 2px); margin-left:50px; -webkit-animation-duration:0.5s; animation-duration:0.5s; -webkit-animation-fill-mode:both; animation-fill-mode:both; -webkit-animation-name:chat_hide; animation-name:chat_hide;}

@-webkit-keyframes chat_hide {
0%   {opacity:1; display:block; margin-right:0;}
100% {opacity:0; display:none; margin-right:50px;}
}

@keyframes chat_hide {
0%   {opacity:1; display:block; margin-right:0;}
100% {opacity:0; display:none; margin-right:50px;}
}

/* chatUI_top */
.chatUI_top {position:relative; top:0; left:0; width:100%; height:50px; border-bottom:1px solid #ebeaef; background:#fff; z-index:5555;}
.chatUI_top h1 {position:relative; float:left; height:50px; padding:0 0 0 15px; color:rgba(0,138,2161.0); font-size:18px; font-weight:500; line-height:50px; letter-spacing:-1px;}
.chatUI_top h1 img {height:15px; margin:-5px 0 0 0; vertical-align:middle;}
/* .chatUI_top h1:before {content:''; position:absolute; left:10px; width:50px; height:100%; background:url("../images/concierge_button_new.png") 50% 90% no-repeat; background-size:120% auto;}*/

.chatUI_top .langBox{float:right; margin:15px 43px 0 0; transition:all 0.3s ease-out;}
.chatUI_top .langBox:before {content:''; float:right; width:1px; height:20px; margin:0 0 0 10px; background:rgba(0,0,0,0.09);}
.chatUI_top .langBox p .btn_lang {position:absolute; top:15px; right:53px; overflow:hidden; width:20px; height:20px; text-indent:-99px; border:1px solid rgba(0,0,0,0.15); border-radius:30px; background:url("../images/ico_lang.png") 50% 50% no-repeat; background-size:cover; opacity:0.4; transition:all 0.3s ease-out;}
.chatUI_top .langBox p .btn_lang:hover,.chatUI_top .langBox p .btn_lang:focus {opacity:0.7; transition:all 0.3s ease-out;}
.chatUI_top .langBox p .btn_lang.active {background:url("../images/ico_lang_on.png") 50% 50% no-repeat; background-size:cover; opacity:1.0; transition:all 0.3s ease-out;}
.chatUI_top .langBox p .btn_lang.ico_ko {background:url("../images/ico_lang_ko.png") 50% 50% no-repeat; background-size:cover; opacity:1.0; transition:all 0.3s ease-out;}
.chatUI_top .langBox p .btn_lang.ico_en {background:url("../images/ico_lang_en.png") 50% 50% no-repeat; background-size:cover; opacity:1.0; transition:all 0.3s ease-out;}
.chatUI_top .langBox p .btn_lang.ico_zh_cn {background:url("../images/ico_lang_zh-cn.png") 50% 50% no-repeat; background-size:cover; opacity:1.0; transition:all 0.3s ease-out;}
.chatUI_top .langBox p .btn_lang.ico_ja {background:url("../images/ico_lang_ja.png") 50% 50% no-repeat; background-size:cover; opacity:1.0; transition:all 0.3s ease-out;}

.chatUI_top .langBox .lst_lang {display:none; position:absolute; top:51px; left:0; width:100%; padding:7px 0; text-align:center; border-bottom:1px solid rgba(0,0,0,0.1); background:#ebeaef; box-shadow:0 3px 3px rgba(0,0,0,0.15); opacity:0;}

.chatUI_top .langBox .lst_lang.show {display:block; -webkit-animation-duration:0.3s; animation-duration:0.3s; -webkit-animation-fill-mode:both; animation-fill-mode:both; -webkit-animation-name:chat_lang_show; animation-name:chat_lang_show;}
@-webkit-keyframes chat_lang_show {
0%   {opacity:0; top:45px; display:none;}
100% {opacity:1; top:51px; display:block;}
}

@keyframes chat_lang_show {
0%   {opacity:0; top:45px; display:none;}
100% {opacity:1; top:51px; display:block;}
}
.chatUI_top .langBox .lst_lang li {display:inline-block; margin:0;}
.chatUI_top .langBox .lst_lang li button {padding:0 10px 0 5px; color:#403738; font-size:12px; line-height:28px; border:1px solid rgba(0,0,0,0.1); border-radius:25px; background:#fff; box-shadow:0 1px 2px rgba(0,0,0,0.15); transition:all 0.3s ease-out;}
.chatUI_top .langBox .lst_lang li button:hover,.chatUI_top .langBox .lst_lang li button:focus {border:1px solid rgba(0,138,2161.0); transition:all 0.3s ease-out;}
.chatUI_top .langBox .lst_lang li button.active {color:#fff; background:rgba(0,138,2161.0);}
.chatUI_top .langBox .lst_lang li button:before {content:''; display:inline-block; width:18px; height:18px; margin:-3px 3px 0 0; vertical-align:middle;}
.chatUI_top .langBox .lst_lang li button.ico_ko:before {background:url("../images/ico_lang_ko.png") 0 0 no-repeat; background-size:cover;}
.chatUI_top .langBox .lst_lang li button.ico_en:before {background:url("../images/ico_lang_en.png") 0 0 no-repeat; background-size:cover;}
.chatUI_top .langBox .lst_lang li button.ico_zh_cn:before {background:url("../images/ico_lang_zh-cn.png") 0 0 no-repeat; background-size:cover;}
.chatUI_top .langBox .lst_lang li button.ico_ja:before {background:url("../images/ico_lang_ja.png") 0 0 no-repeat; background-size:cover;}

.chatUI_top .btn_chatClose {overflow:hidden; position:absolute; top:50%; right:10px; width:25px; height:25px; margin:-13px 0 0 0; text-indent:-99px; border:none; cursor:pointer; background:none; opacity:0.5; transition:all 0.3s ease-out;}
.chatUI_top .btn_chatClose:hover {opacity:1.0; transition:all 0.3s ease-out;}
.chatUI_top .btn_chatClose:before, 
.chatUI_top .btn_chatClose:after {content:''; position:absolute; top:50%; left:0; width:100%; height:1px; background:#000;}
.chatUI_top .btn_chatClose:before {transform:rotate(-45deg);}
.chatUI_top .btn_chatClose:after {transform:rotate(45deg);}

/* chatUI_mid */
.chatUI_mid {display:block; overflow:auto; position:relative; width:100%; height:calc(100% - 106px); vertical-align:top; background:#f7f8fa;}

/* 대화_공통 */
.chatUI_mid .lst_talk {display:block; clear:both; overflow:hidden; padding:0;}
.chatUI_mid .lst_talk li {clear:both; overflow:hidden; margin:0 0 7px 0; padding:7px 0;}

/* 대화_공통_시작일 */
.chatUI_mid .lst_talk li.newDate {position:relative; margin:5px 0; text-align:center;}
.chatUI_mid .lst_talk li.newDate:before {content:''; position:absolute; top:16px; left:0; width:100%; height:1px; background:#ececfa;}
.chatUI_mid .lst_talk li.newDate span {display:inline-block; position:relative; padding:0 15px; color:#a3a5b3; background:#f7f8fa;}

/* 대화_공통_링크 */
.chatUI_mid .lst_talk li a {color:#008ad8; text-decoration:underline;}

/* 대화_사용자_말풍선 */
.chatUI_mid .lst_talk li.user {text-align:right; vertical-align:bottom; padding:0 10px 0 60px;}
.chatUI_mid .lst_talk li.user .bot_msg {float:right;}
.chatUI_mid .lst_talk li.user .bot_msg .txt {position:relative; display:inline-block; margin:0; padding:7px 10px; color:#fff; font-size:14px; font-style:normal; text-align:left; word-break:normal; border:none; border-radius:7px 7px 0 7px; background:rgba(0,138,2161.0);}
.chatUI_mid .lst_talk li.user .date {display:block; margin:0; padding:0; color:#a3a5b3; font-size:11px; text-align:right; vertical-align:bottom;}
.chatUI_mid .lst_talk li.user .date strong {display:inline-block; margin:0 5px 0 0; color:#a3a5b3; font-size:11px; font-weight:normal;}

/* 대화_chatbot_말풍선 */
.chatUI_mid .lst_talk li.bot {display:block; position:relative; padding:0px 40px 0px 55px; text-align:left; vertical-align:top;}
.chatUI_mid .lst_talk li.bot:first-child:before {content:''; position:absolute; top:0; left:10px; width:38px; height:38px; border:1px solid #ebeaef; background:#fff url("../images/concierge_button_new.png") 50% 50% no-repeat; background-size:cover; border-radius:30px;}
li.user + li.bot:before {content:''; position:absolute; top:0; left:10px; width:38px; height:38px; border:1px solid #ebeaef; background:#fff url("../images/ico_api_bot.png") 50% 50% no-repeat; background-size:70%; border-radius:30px;}

.chatUI_mid .lst_talk li.bot .bot_msg {display:block; margin:0 0 10px 0;}
.chatUI_mid .lst_talk li.bot .bot_msg:last-child {margin:0;}
.chatUI_mid .lst_talk li.bot .bot_msg .name {display:block; padding:0 0 5px 10px; color:#999; font-size:12px; line-height:14px; font-style:normal;}
.chatUI_mid .lst_talk li.bot .date {display:inline-block; color:#a3a5b3; font-size:11px; vertical-align:bottom;}
.chatUI_mid .lst_talk li.bot .date strong {display:inline-block; color:#a3a5b3; font-size:11px; font-weight:normal;}

/* 대화_chatbot_로딩*/
.chatLoading {margin:100px auto 0; width:70px; max-width:300px; text-align:center;}
.chatLoading > em {width:10px; height:10px; background-color:rgba(0,138,2161.0); border-radius:100%; display:inline-block; -webkit-animation:chat-bouncedelay 1.2s infinite ease-in-out both; animation:chat-bouncedelay 1.2s infinite ease-in-out both;}
.chatLoading .chatLoading_item01 {-webkit-animation-delay:-0.32s; animation-delay:-0.32s;}
.chatLoading .chatLoading_item02 {-webkit-animation-delay:-0.16s; animation-delay:-0.16s;}

/* 대화_chatbot_텍스트 */
.chatUI_mid .lst_talk .txt {display:inline-block; position:relative; max-width:300px; margin:0; padding:7px 10px; color:#403738; font-size:14px; font-style:normal; text-align:left; word-break:normal; line-height:22px; border:1px solid #ebeaef; border-radius:7px 7px 7px 0; background:#fff;}

/* 대화_chatbot_제네릭 */
.chatUI_mid .lst_talk .generic {display:inline-block; overflow:hidden; position:relative; width:100%; max-width:300px; margin:0; padding:0; text-align:left; vertical-align:bottom; border-radius:7px; border:1px solid #ebeaef; background:#fff; transition:all 0.3s ease-out;}
.chatUI_mid .lst_talk .generic .thumb {position:absolute; top:0; left:-50px; overflow:hidden; width:41px; height:50px; margin:3px 0 0 0; vertical-align:top;}
.chatUI_mid .lst_talk .generic .thumb img {overflow:hidden; width:100%; border-radius:50px; background:#f6f6ff;}
.chatUI_mid .lst_talk .generic .generic_img {display:block; overflow:hidden; position:relative; width:100%; max-height:120px; vertical-align:middle; border-radius:7px 7px 0 0;  background:#353c4f;}
.chatUI_mid .lst_talk .generic .generic_img img {width:100%; border:none;}
.chatUI_mid .lst_talk .generic .generic_tit {display:block; padding:10px 12px 3px 12px;}
.chatUI_mid .lst_talk .generic .generic_tit a {padding:0 12px 0 0; color:rgba(0,138,2161.0); font-size:14px; line-height:22px; text-decoration:none; background:url(../images/arw_right_b.png) right 50% no-repeat;}
.chatUI_mid .lst_talk .generic .generic_tit a:hover {text-decoration:underline;}
.chatUI_mid .lst_talk .generic .generic_url {display:block; padding:10px 12px;}
.chatUI_mid .lst_talk .generic .generic_url a {padding:0 12px 0 0; color:rgba(0,138,2161.0); font-size:14px; line-height:22px; text-decoration:none; background:url(../images/arw_right_b.png) right 55% no-repeat;}
.chatUI_mid .lst_talk .generic .generic_url a:hover {text-decoration:underline;}
.chatUI_mid .lst_talk .generic .generic_des {display:block; padding:0 12px 15px 12px; color:#403738; font-size:14px; line-height:18px; word-break:normal;}
.chatUI_mid .lst_talk .generic:hover {transition:all 0.3s ease-out;}

/* 대화_chatbot_버튼_리스트 */
.chatUI_mid .lst_talk .btnLst {display:block; overflow:hidden; max-width:300px; margin:0; padding:0; text-align:left; vertical-align:bottom; border:1px solid #ebeaef; border-radius:7px; background:#fff; cursor:pointer; transition:all 0.3s ease-out;}
.chatUI_mid .lst_talk .btnLst .txt_s {display:block; padding:13px; color:#5e5c68; font-size:14px; border-bottom:1px solid #ebeaef; word-break:normal; transition:all 0.3s ease-out;}
.chatUI_mid .lst_talk .btnLst ul {display:block;}
.chatUI_mid .lst_talk .btnLst ul li {display:block; margin:0; padding:0; border-bottom:1px solid #ececfa;}
.chatUI_mid .lst_talk .btnLst ul li:last-child {border:none;}
.chatUI_mid .lst_talk .btnLst ul li a {display:block; position:relative; padding:10px 0; color:rgba(0,138,2161.0); font-size:13px; text-align:center; text-decoration:none; line-height:22px; transition:all 0.2s ease-out;}
.chatUI_mid .lst_talk .btnLst ul li a:hover {color:#fff;  box-shadow:rgba(0,138,2161.0) 0 80px 0px 2px inset; transition:all 0.2 ease-out;}
.chatUI_mid .lst_talk .btnLst ul li a.active {color:#fff; background:rgba(0,138,2161.0); transition:all 0.2s ease-out;}
.chatUI_mid .lst_talk .btnLst .iptBox {display:block; width:auto; padding:13px; border-bottom:1px solid #ebeaef; background:#f7f8fa;}
.chatUI_mid .lst_talk .btnLst .iptBox .dl_ipt {display:block; margin:0 0 10px 0;}
.chatUI_mid .lst_talk .btnLst .iptBox .dl_ipt:last-child {margin:0;}
.chatUI_mid .lst_talk .btnLst .iptBox .dl_ipt dt {display:block; margin:0 0 5px 0; color:#403738; font-size:13px;}
.chatUI_mid .lst_talk .btnLst .iptBox .dl_ipt dd {display:block;}
.chatUI_mid .lst_talk .btnLst .iptBox .dl_ipt dd .select {display:block; width:100%;}
.chatUI_mid .lst_talk .btnLst .iptBox .dl_ipt dd .selboxDirect {display:none; margin:5px 0 0 0;}
.chatUI_mid .lst_talk .btnLst .btnBox {display:block; padding:5px;}
.chatUI_mid .lst_talk .btnLst .btnBox button {display:block; width:100%; height:40px; margin:0; color:#fff; font-size:13px; text-align:center; line-height:16px; border:none; border-radius:3px; background:#b0b0b0}
.chatUI_mid .lst_talk .btnLst .btnBox button.btn_point {display:block; width:100%; height:40px; color:#fff; font-size:13px; text-align:center; border:none; border-radius:3px; background:rgba(0,138,2161.0);}

/* 대화_chatbot_버튼_아이템 */
.chatUI_mid .lst_talk .btnItem {display:block; max-width:300px; margin:0; padding:0; text-align:left; vertical-align:bottom; }
.chatUI_mid .lst_talk .btnItem .txt {display:block; padding:13px; color:#5e5c68; font-size:12px; border-bottom:1px solid #ececfa;}
.chatUI_mid .lst_talk .btnItem ul {display:block;}
.chatUI_mid .lst_talk .btnItem ul li {display:inline-block; overflow:hidden; margin:0; padding:0; border:1px solid #ebeaef; border-radius:30px;}
.chatUI_mid .lst_talk .btnItem ul li a {display:block; padding:5px 15px; color:rgba(0,138,2161.0); font-size:13px; text-align:center; text-decoration:none; line-height:22px; background:#fff; transition:all 0.3s ease-out;}
.chatUI_mid .lst_talk .btnItem ul li a:hover {color:#fff;  box-shadow:rgba(0,138,2161.0) 0 80px 0px 2px inset; transition:all 0.3s ease-out;}
.chatUI_mid .lst_talk .btnItem ul li a.btnStart {color:#fff; background:rgba(0,138,2161.0); box-shadow:rgba(0,138,2161.0) 0 80px 0px 2px inset; transition:all 0.3s ease-out;}
.chatUI_mid .lst_talk .btnItem ul li a.active {color:#fff; background:rgba(0,138,2161.0); transition:all 0.2s ease-out;}

/* 대화_chatbot_이미지 */
.chatUI_mid .lst_talk .img {display:block; overflow:hidden; max-width:300px; margin:0; padding:0; text-align:left; vertical-align:bottom; border-radius:7px;}
.chatUI_mid .lst_talk .img img {max-width:100%;}

/* 대화_chatbot_swiper */
.chatUI_mid .lst_talk li.botMsg_swiper {position:relative; margin:0; padding:0 55px 10px 55px;}
.chatUI_mid .lst_talk li.botMsg_swiper a.swiper_item {display:block; border:1px solid #ebeaef; border-radius:7px; background:#fff; box-shadow:0 0 3px rgba(0,0,0,0); text-decoration:none; transition:all 0.3s ease-out;}
.chatUI_mid .lst_talk li.botMsg_swiper a.swiper_item .item_img {display:block; overflow:hidden; position:relative; width:100%; height:100px; text-align:center; vertical-align:middle; border-radius:7px 7px 0 0; background:#353c4f;}
.chatUI_mid .lst_talk li.botMsg_swiper a.swiper_item .item_img img {width:100%; min-height:100%;}
.chatUI_mid .lst_talk li.botMsg_swiper a.swiper_item .item_tit {display:table-cell; overflow:hidden; height:35px; padding:7px; color:#403738; font-size:13px; vertical-align:top; letter-spacing:-1px;}
.chatUI_mid .lst_talk li.botMsg_swiper a.swiper_item .item_txt {display:block; overflow:hidden; height:62px; padding:0 7px 13px 7px; color:#a3a5b3; font-size:11px; line-height:16px;}

.chatUI_mid .lst_talk li.botMsg_swiper a.swiper_item:hover {border:1px solid rgba(0,138,2161.0); box-shadow:0 0 3px rgba(0,0,0,0.3); transition:all 0.3s ease-out;}
.chatUI_mid .lst_talk li.botMsg_swiper .swiper-pagination {position:relative; bottom:0;}
.swiper-container-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet {margin:0 2px; cursor:pointer;}
.swiper-pagination-bullet {background:#ced0db; opacity:1.0;}
.swiper-pagination-bullet-active {background:rgba(0,138,2161.0);}
.swiper-pagination-bullet:first-child:nth-last-child(1) {display:none;}

.swiper-wrapper {margin:0 0 5px 0;}
.swiper-button-next, .swiper-button-prev {margin-top:-33px; z-index:9000;}
.swiper-button-prev, .swiper-container-rtl .swiper-button-next {left:0; color:#fff; border-radius:0 7px 7px 0; box-shadow:0 0 3px rgba(0,0,0,0.3); background:rgba(0,138,2160.9) url("../images/arw_left_w.png") center center no-repeat;}
.swiper-button-next, .swiper-container-rtl .swiper-button-prev {right:0; border-radius:7px 0 0 7px; box-shadow:0 0 3px rgba(0,0,0,0.3); background:rgba(0,138,2160.9) url("../images/arw_right_w.png") center center no-repeat;}

/* chatUI_btm */
.chatUI_btm {display:block; clear:both; overflow:hidden; position:relative; bottom:0; padding:7px 10px; vertical-align:top; border-top:1px solid #ececfa; background:#fff; z-index:6666;}
.chatUI_btm .textArea {float:right; overflow:hidden; width:calc(100% - 45px); min-height:20px; height:20px; margin:0; padding:9px 33px 9px 10px; color:#5e5c68; font-size:13px; line-height:20px; border:1px solid #ebeaef; border-radius:5px; resize:none;}
.chatUI_btm .textArea:focus {border:1px solid rgba(0,138,2161.0);}
.chatUI_btm .btn_chat {overflow:hidden; position:absolute; top:13px; right:15px; width:28px; height:28px; margin:0; padding:0; color:#9c9c9c; font-size:14px; text-indent:-999px; border:none; background:#fff url(../images/ico_send_r.png) 50% 50% no-repeat; background-size:80%; cursor:pointer; transition:all 0.3s ease-out;}
.chatUI_btm .btn_chat.disabled {background:#a8a8a8 url(../images/ico_send.png) 50% 50% no-repeat; cursor:default;}

/* chatAside */
.chatAside {display:none; overflow:hidden; float:right; position:absolute; left:0; bottom:55px; width:0; height:calc(100% - 57px); vertical-align:bottom; border:1px solid #ececfa; border-radius:10px; background:rgba(238, 238, 238, 0.95); z-index:9999; transition:all 0.3s ease-out;}
.chatAside.aside_show {display:block; width:335px; -webkit-animation-duration:2.2s; animation-duration:2.2s; -webkit-animation-fill-mode:both; animation-fill-mode:both; -webkit-animation-name:aside_show; animation-name:aside_show;}

@-webkit-keyframes aside_show {
0%   {opacity:0; display:none;}
50%  {opacity:0; display:none;}
100% {opacity:1; display:block;}
}

@keyframes aside_show {
0%   {opacity:0; display:none;}
50%  {opacity:0; display:none;}
100% {opacity:1; display:block;}
}

.chatAside.aside_hide {display:block; min-width:0; height:calc(100% - 2px); margin-left:50px; -webkit-animation-duration:0.5s; animation-duration:0.5s; -webkit-animation-fill-mode:both; animation-fill-mode:both; -webkit-animation-name:aside_hide; animation-name:aside_hide;}

@-webkit-keyframes aside_hide {
0%   {opacity:1; display:block;}
100% {opacity:0; display:none;}
}

@keyframes aside_hide {
0%   {opacity:1; display:block;}
100% {opacity:0; display:none;}
}

.ipt_txt{display:block; width:calc(100% - 12px); height:32px; padding:0 5px; color:#403738; font-size:13px; border:1px solid rgba(0,0,0,0.2); border-radius:5px; background:#fff; transition:all 0.3s ease-out;}
.ipt_txt:focus{border:1px solid rgba(0,0,0,0.3); box-shadow:none; background:#fff; transition:all 0.3s ease-out;}

.select{display:inline-block; min-width:100px; padding:5px 20px 5px 5px; font-family:inherit; color:#403738; border:1px solid rgba(0,0,0,0.2); border-radius:5px; background:#fff url("../images/arw_bottom_bk.png") right 7px top 50% no-repeat; -webkit-appearance:none; -moz-appearance:none; appearance:none; transition:all 0.3s ease-out;}
.select:focus{border:1px solid rgba(0,0,0,0.3); box-shadow:none; background-color:#fff; transition:all 0.3s ease-out;} 
.select:disabled{background-color:rgba(0,0,0,0.1); opacity:0.6;}

/* checkBox */
.checkBox{display:inline-block; position:relative; min-height:20px; margin:0 15px 0 0;}
.checkBox input[type="checkbox"]{position:absolute; overflow:hidden; width:1px; height:1px; padding:0; margin:-1px; clip:rect(0,0,0,0); border:0;} 
.checkBox input[type="checkbox"] + label{display:inline-block; position:relative; margin:0 10px 0 0; padding-left:25px; color:#403738; font-size:13px; cursor:pointer; -webkit-user-select:none; -moz-user-select:none; -ms-user-select:none;}
.radioBox input[type="checkbox"] + labe:last-child{margin:0;}
.checkBox input[type="checkbox"] + label:before{content:''; position:absolute; top:-1px; left:0; width:19px; height:19px; line-height:17px; text-align:center; border:1px solid rgba(0,0,0,0.2); border-radius:3px; background:#fff;}
.checkBox input[type="checkbox"] + label:active:before, .checkBox input[type="checkbox"]:checked + label:active:before{}
.checkBox input[type="checkbox"]:focus + label {text-decoration:underline;}
.checkBox input[type="checkbox"]:focus + label:before {border-color:#008ad8;}
.checkBox input[type="checkbox"]:checked + label:before{content:'\2714'; color:#fff; border-color:rgba(0,138,2161.0); background:rgba(0,138,2161.0);}
.checkBox input[type="checkbox"]:disabled + label:before{background:rgba(0,0,0,0.1);}


.chatAside .chatAside_hd {position:relative; top:0; left:0; width:100%; height:50px; border-bottom:1px solid #ebeaef; background:#fff; z-index:5555;}
.chatAside .chatAside_hd h3 {position:relative; float:left; height:50px; padding:0 0 0 15px; color:rgba(0,138,2161.0); font-size:18px; font-weight:500; line-height:50px; letter-spacing:-1px;}
.chatAside .chatAside_hd .btn_chatAside_close {overflow:hidden; position:absolute; top:50%; right:10px; width:25px; height:25px; margin:-13px 0 0 0; text-indent:-99px; border:none; cursor:pointer; background:none; opacity:0.5; transition:all 0.3s ease-out;}
.chatAside .chatAside_hd .btn_chatAside_close:hover {opacity:1.0; transition:all 0.3s ease-out;}
.chatAside .chatAside_hd .btn_chatAside_close:before, 
.chatAside .chatAside_hd .btn_chatAside_close:after {content:''; position:absolute; top:50%; left:0; width:100%; height:1px; background:#000;}
.chatAside .chatAside_hd .btn_chatAside_close:before {transform:rotate(-45deg);}
.chatAside .chatAside_hd .btn_chatAside_close:after {transform:rotate(45deg);}

.chatAside .chatAside_bd {display:block; overflow:auto; position:relative; width:calc(100% - 20px); height:calc(100% - 71px); padding:10px; vertical-align:top; background:#f7f8fa;}
.chatAside .chatAside_bd .stnBox {display:block; overflow:hidden; margin:0 0 15px 0;  border-radius:5px; box-shadow:0 1px 2px rgba(0,0,0,0.2); background:#fff;}
.chatAside .chatAside_bd .stnBox p.txt{padding:10px; color:#fff; font-size:13px; background:#4d4747;}
.chatAside .chatAside_bd .stnBox .iptBox {display:block; overflow:hidden; padding:10px;}
.chatAside .chatAside_bd .stnBox .checkBox {height:30px;}
.chatAside .chatAside_bd .stnBox .checkBox input[type="checkbox"] + label {height:30px; line-height:30px;}
.chatAside .chatAside_bd .stnBox .checkBox input[type="checkbox"] + label:before {top:6px;}
.chatAside .chatAside_bd .stnBox .btn_terms {float:right; height:30px; padding:0 15px; border:none; border-radius:3px; background:#ffdc4e;}
.chatAside .chatAside_bd .stnBox dl.dlBox {display:block; overflow:hidden; margin:0 0 15px 0; padding:0 10px;}
.chatAside .chatAside_bd .stnBox p.txt + dl.dlBox {margin:15px 0;}
.chatAside .chatAside_bd .stnBox dl.dlBox dt {display:block; padding:0 0 5px 0; font-size:13px;}
.chatAside .chatAside_bd .stnBox dl.dlBox dd {display:block; }
.chatAside .chatAside_bd .stnBox dl.dlBox dd .ipt_txt {display:none;}
.chatAside .chatAside_bd .btnBox {display:block;}
.chatAside .chatAside_bd .btnBox button {display:block; width:100%; height:40px; margin:0 0 10px 0; color:#fff; font-size:13px; text-align:center; line-height:16px; border:none; border-radius:3px; background:#b0b0b0}
.chatAside .chatAside_bd .btnBox button.btn_point {display:block; width:100%; height:40px; color:#fff; font-size:13px; text-align:center; border:none; border-radius:3px; background:rgba(0,138,2161.0);}

.txt_s .txt_btn {display:block; padding:10px 0 0 0; text-align:center;}
.txt_s .txt_btn a {display:inline-block; height:30px; padding:0 15px; color:rgba(0,138,2161.0) !important; font-size:13px; text-align:center; text-decoration:none !important; line-height:28px; border:1px solid #ebeaef; border-radius:50px; background:#fff; transition:all 0.3s ease-out;}
.txt_s .txt_btn a:hover {color:#fff !important; border:1px solid rgba(0,138,2160) !important; box-shadow:rgba(0,138,2161.0) 0 80px 0px 2px inset; transition:all 0.3s ease-out;}

.txt_s .txt_btns {display:block; padding:5px 0 0 0; text-align:center;}
.txt_s .txt_btns a {display:inline-block; height:30px; margin:5px 10px 0 0; padding:0 15px; color:rgba(0,138,2161.0) !important; font-size:13px; text-align:center; text-decoration:none !important; line-height:28px; border:1px solid #ebeaef; border-radius:50px; background:#fff; box-shadow:rgba(0,138,2160) 0 0px 0px 2px inset; transition:all 0.3s ease-out;}
.txt_s .txt_btns a:last-child {margin-right:0;}
.txt_s .txt_btns a:hover {color:#fff !important; border:1px solid rgba(0,138,2160) !important;  box-shadow:rgba(0,138,2161.0) 0 80px 0px 2px inset; transition:all 0.3s ease-out;}
.txt_s .txt_btns a + a { width:calc(50% - 15)}

.mapWrap {display:none; position:absolute; top:0; left:0%; width:100%; height:100%; background:#fff; z-index:9900; opacity:1; -webkit-animation:mapShow 0.3s 0s ease-out; animation:mapShow 0.3s 0s ease-out;}
.mapWrap .mapWrap_tit {display:flex; position:relative; border-bottom:1px solid rgba(0,0,0,0.1);}
.mapWrap .mapWrap_tit .btn_mapWrap_back {display:none; overflow:hidden; position:absolute; top:5px; left:10px; width:30px; height:30px; text-indent:-99px; border:none; background:url("../images/arw_back_bk.png") 50% 50% no-repeat; opacity:0.3; z-index:9999; transition:all 0.3s ease-out; background-size:80%; cursor:pointer;} 
.mapWrap .mapWrap_tit .iptBox {display:block; width:calc(100% - 60px); padding:5px 50px 5px 10px;}
.mapWrap .mapWrap_tit .iptBox .ipt_txt{border-radius:0 0 5px 5px;}
.mapWrap .mapWrap_tit .iptBox .ipt_txt:first-child {border-radius:5px 5px 0 0; border-bottom:none;}

.mapWrap .mapWrap_tit .btn_lctn_change { overflow:hidden; position:absolute; top:22px; right:35px; width:32px; height:32px; text-indent:-999px; border:1px solid rgba(0,0,0,0.2); border-radius:30px; background:#fff url("../images/arw_lctn_change.png") 50% 50% no-repeat; z-index:9999; transition:all 0.3s ease-out; background-size:60%; cursor:pointer;}
.mapWrap .mapWrap_tit .btn_mapWrap_close{position:absolute; top:5px; right:10px; overflow:hidden; width:25px; height:25px; margin:0 0 10px 10px; text-indent:-99px; border:none; background:none; opacity:0.3; z-index:9999; transition:all 0.3s ease-out; cursor:pointer;}
.mapWrap .mapWrap_tit .btn_mapWrap_close:hover, .mapWrap .mapWrap_tit .btn_mapWrap_close:focus{opacity:0.7; transition:all 0.3s ease-out;}
.mapWrap .mapWrap_tit .btn_mapWrap_close:before{content:''; position:absolute; top:50%; left:0%; width:100%; height:2px; background:#000; border-radius:5px; transform:rotate(45deg);}
.mapWrap .mapWrap_tit .btn_mapWrap_close:after{content:''; position:absolute; top:50%; left:0%; width:100%; height:2px; border-radius:5px; background:#000; transform:rotate(-45deg);}
.mapWrap .mapWrap_cont {display:block; width:100%; height:calc(100% - 43px); background:url("../images/sample/map.png") 50% 50% no-repeat; background-size:cover;}
.mapWrap .mapWrap_cont .mapLoad_detailBox {display:block; height:0; opacity:0; background:#fff; transition:all 0.3s ease-out;}

.mapWrap .mapWrap_cont .mapLoad_detail_lst li {display:block; position:relative; border-bottom:1px solid rgba(0,0,0,0.05);}
.mapWrap .mapWrap_cont .mapLoad_detail_lst li .infoBox {position:relative; padding:15px 20px 10px 50px;}
.mapWrap .mapWrap_cont .mapLoad_detail_lst li:before {content:''; position:absolute; top:15px; left:15px; width: 22px; height:22px; opacity:0.4;}
.mapWrap .mapWrap_cont .mapLoad_detail_lst li.ico_bus:before {background:url("../images/ico_bus_bk.png") 50% 50% no-repeat; background-size:cover;}
.mapWrap .mapWrap_cont .mapLoad_detail_lst li.ico_train:before {background:url("../images/ico_train_bk.png") 50% 50% no-repeat; background-size:cover;}
.mapWrap .mapWrap_cont .mapLoad_detail_lst li span {display:block; margin:0 0 5px 0; }
.mapWrap .mapWrap_cont .mapLoad_detail_lst li span:last-child {margin:0;}
.mapWrap .mapWrap_cont .mapLoad_detail_lst li span.time {clear:both; overflow:hidden; padding:0 0 7px 0;}
.mapWrap .mapWrap_cont .mapLoad_detail_lst li span.time em{float:right; font-size:14px;}
.mapWrap .mapWrap_cont .mapLoad_detail_lst li span.time em:first-child {float:left; color:#000; font-size:18px; font-weight:700;}
.mapWrap .mapWrap_cont .mapLoad_detail_lst li span.transportation {clear:both; overflow:hidden; color:#000;}
.mapWrap .mapWrap_cont .mapLoad_detail_lst li span.transportation em {position:relative; float:left; margin:0 7px 0 0; padding:0 10px 0 0; background:url("../images/arw_right_g.png") right 50% no-repeat; background-size:5px auto;}
.mapWrap .mapWrap_cont .mapLoad_detail_lst li span.transportation em:last-child {margin:0; padding:0; background:none;}
.mapWrap .mapWrap_cont .mapLoad_detail_lst li span.transportation em.ico_walk {overflow:hidden; width:15px; text-indent:-99px;}
.mapWrap .mapWrap_cont .mapLoad_detail_lst li span.transportation em.ico_walk:before {content:''; position:absolute; left:0; width:15px; height:15px; background:url("../images/ico_walk_g.png") 50% 50% no-repeat; background-size:cover;}
.mapWrap .mapWrap_cont .mapLoad_detail_lst li span.transportation em.ico_bus {padding:0 0 0 20px;}
.mapWrap .mapWrap_cont .mapLoad_detail_lst li span.transportation em.ico_bus:before {content:''; position:absolute; left:0; width:15px; height:15px; background:url("../images/ico_bus_g.png") 50% 50% no-repeat; background-size:cover;}
.mapWrap .mapWrap_cont .mapLoad_detail_lst li span.transportation em.ico_train {padding:0 0 0 20px;}
.mapWrap .mapWrap_cont .mapLoad_detail_lst li span.transportation em.ico_ico_train:before {content:''; position:absolute; left:0; width:15px; height:15px; background:url("../images/ico_train_g.png") 50% 50% no-repeat; background-size:cover;}
.mapWrap .mapWrap_cont .mapLoad_detail_lst li span.transportation em strong {display:inline-block; height:15px; padding:0 5px; color:#fff; font-size:10px; font-weight:normal; line-height:13px; vertical-align:top;} 
.mapWrap .mapWrap_cont .mapLoad_detail_lst li span.transportation em strong.bg_red {background:#e24b50;} 
.mapWrap .mapWrap_cont .mapLoad_detail_lst li span.transportation em strong.bg_green {background:#83c100;} 
.mapWrap .mapWrap_cont .mapLoad_detail_lst li span.transportation em strong.bg_yGreen {background:#3cb44a;} 
.mapWrap .mapWrap_cont .mapLoad_detail_lst li span.transportation em strong.bg_blue {background:#366ae1;} 
.mapWrap .mapWrap_cont .mapLoad_detail_lst li span.txt {color:#000; font-size:13px;}
.mapWrap .mapWrap_cont .mapLoad_detail_lst li span.direction {clear:both; overflow:hidden; }
.mapWrap .mapWrap_cont .mapLoad_detail_lst li span.direction em {display:inline-block; min-width:30px;}
.mapWrap .mapWrap_cont .mapLoad_detail_lst li .btn_timeline {overflow:hidden; position:absolute; right:20px; bottom:18px; width:30px; height:30px; text-indent:-99px; border:1px solid #000; border-radius:30px; background:#fff url("../images/arw_down_bk.png") 50% 50% no-repeat; background-size:50%; opacity:0.3; transition:all 0.3s ease-out;}
.mapWrap .mapWrap_cont .mapLoad_detail_lst li .btn_timeline:hover, .mapWrap .mapWrap_cont .mapLoad_detail_lst li .btn_timeline:focus {opacity:0.8; transition:all 0.3s ease-out;}
.mapWrap .mapWrap_cont .btn_mapLoad_detail {position:absolute; left:15px; bottom:15px; width:calc(100% - 30px); height:40px; color:#fff; font-size:13px; text-align:center; border:none; border-radius:30px; background:rgba(0,138,2161.0); box-shadow:0 0 3px rgba(0,0,0,0.05); opacity:1.0; transition:all 0.3s ease-out;}

.mapWrap.detailTransform .mapWrap_tit .btn_mapWrap_back {display:block; transition:all 0.3s ease-out;}
.mapWrap.detailTransform .mapWrap_tit .iptBox {position:relative; width:calc(100% - 100px); padding:5px 50px; transition:all 0.3s ease-out;}
.mapWrap.detailTransform .mapWrap_tit .iptBox:before {content:''; position:absolute; top:50%; left:50%; width:16px; height:16px; margin:-8px 0 0 -8px; background:url("../images/arw_next_bk.png") 50% 50% no-repeat; background-size:cover; opacity: 0.4;}
.mapWrap.detailTransform .mapWrap_tit .iptBox .ipt_txt {float:right; width:40%; border:none; border-radius:5px; text-overflow:ellipsis; white-space:nowrap; word-wrap:normal; background: #f1f1f1; transition:all 0.3s ease-out;}
.mapWrap.detailTransform .mapWrap_tit .iptBox .ipt_txt:first-child {float:left;}
.mapWrap.detailTransform .mapWrap_tit .iptBox .btn_lctn_change {display:none;}
.mapWrap.detailTransform .mapWrap_cont .mapLoad_detailBox {height:100%; opacity:1.0; transition:all 0.3s ease-out;}
.mapWrap.detailTransform .btn_mapLoad_detail {bottom:-70px; opacity:0; transition:all 0.3s ease-out;}

/* keyframes */
@-webkit-keyframes mapShow{
0%  {left:100%; opacity:0;}
100%{left:0%; opacity:1;} 
}
@keyframes mapShow{
0%  {left:100%; opacity:0;}
100%{left:0%; opacity:1;} 
}
.map_hide{-webkit-animation-duration:0.5s; animation-duration:0.5s; -webkit-animation-fill-mode:both; animation-fill-mode:both; -webkit-animation-name:map_hide; animation-name:map_hide;}
/* keyframes */
@-webkit-keyframes map_hide{
0%  {left:0%; opacity:1;} 
100%{left:100%; opacity:0;}
}
@keyframes map_hide{
0%  {left:0%; opacity:1;} 
100%{left:100%; opacity:0;}
}

/* keyframes */
@-webkit-keyframes chat-bouncedelay {
0%, 80%, 100% {transform:scale(0);}
40% {transform:scale(1.0);}
}

@keyframes chat-bouncedelay {
	0%, 80%, 100% {
		transform:scale(0);
	} 
	40% {
		transform:scale(1.0);
	}
}


@-webkit-keyframes ripple{
    0%{
        opacity:1;
        -webkit-transform:scale(0);
        transform:scale(0)
    }
    100%{
        opacity:0;
        -webkit-transform:scale(1);
        transform:scale(1)
    }
}
@keyframes ripple{
    0%{
        opacity:1;
        -webkit-transform:scale(0);
        transform:scale(0)
    }
    100%{
        opacity:0;
        -webkit-transform:scale(1);
        transform:scale(1)
    }
}
.intro-banner-vdo-play-btn .ripple:nth-child(2){
    animation-delay:.3s;
    -webkit-animation-delay:.3s
}
.intro-banner-vdo-play-btn .ripple:nth-child(3){
    animation-delay:.6s;
    -webkit-animation-delay:.6s
}


@media screen and (max-width:759px) {
    #chatUI_wrap {right:0; bottom:0; width:calc(100% - 2px); height:calc(100% - 2px);}
    #chatUI_wrap.chatUI_show {border-radius:0;}
    #btn_goChat {bottom:35px; width:52px; padding:50px 0 0 0; }
    
    .chatAside.aside_show {bottom:0; width:100%; height:100%;}
}



