<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="layout/mainLayout">
<head>
</head>
<body class="gcsWrap">

<!-- #wrap -->
<div id="wrap">   

    <!-- .potalWrap -->
    <div class="potalWrap">
        <!-- #header -->
        <div id="header" layout:fragment="header">
            <h2>
                <a href="#none">사용자 관리</a>
            </h2>
            <!-- .etc -->
            <div class="etc">
                <!-- .nav_etc -->
                <ul class="nav_etc">
                    <!-- [D] 프로필 수정 UI는 common.js에 있음 -->
                    <li><a class="ico_profile btn_lyr_open" href="#none"><span>프로필</span></a></li>                
                    <li><a class="ico_logout" th:href="@{/logout}"><span>로그아웃</span></a></li>
                </ul>
                <!-- //.nav_etc -->
            </div>
            <!-- //.etc -->
        </div>
        <!-- //#header -->

        <hr>

        <!-- #container -->
        <div id="container" layout:fragment="container">
            <!-- #contents -->
            <div id="contents">
                <!-- .content -->
                <div class="content">
                    <!-- .titArea -->
                    <div class="titArea">
                        <h3>INPUTS</h3>
                        <div class="path">
                            <ul class="path_nav">
                                <li><a class="home" href="#none">Home</a></li>
                                <li><a href="#none">관리</a></li>
                                <li><span>사용자관리</span></li>
                            </ul>
                        </div>
                    </div>
                    <!-- //.titArea -->
                    <!-- .section -->
                    <form id="userForm" name="userForm">
                        <input type="hidden" id="function_name" name="function_name" value="getUserList" />
                        <input type="hidden" id="current_page_no" name="current_page_no" value="1" />
                        <input type="hidden" id="id_check" name="id_check" value="" />
                        <input type="hidden" id="user_no_arr" name="user_no_arr" value="" />
                        <input type="hidden" name="user_no" value="" />
                        <input type="hidden" name="user_id" value="" />
                        <input type="hidden" name="user_nm" value="" />
                        <input type="hidden" name="user_pw" value="" />
                        <input type="hidden" name="enabled" value="" />
                        <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
                    <div class="stn contBoxType">
                        <div class="tbl_top_info">
                            <div class="srchBox">
                                <select class="select" id="search_type" name="search_type">
                                    <option selected value="">전체</option>
                                    <option value="id">E-mail</option>
                                    <option value="name">이름</option>
                                </select>
                                <input type="text" class="ipt_srch" id="search_keyword" name="search_keyword" placeholder="검색어를 입력해 주세요.">
                                <button type="button" th:onclick="'javascript:getUserList();'" class="btn_srch">검색</button>
                            </div>
                            <div class="selectbox">
                                <label for="select_page">10개씩 보기</label> 
                                <select id="select_page" name="count_per_list" th:onchange="'javascript:getUserList();'">
                                    <option value="10" selected>10개씩 보기</option>
                                    <option value="20">20개씩 보기</option>
                                    <option value="30">30개씩 보기</option>
                                </select> 
                                <!-- [D] <label>의 for값과 <input>의 ID 값을 동일하게 작성해야 함 -->
                            </div>
                            
                            <div class="btnBox sz_small">
                                <!-- [D] 등록관련 UI script는 하단script 영역에 있음 -->
                                <button type="button" id="btn_user_add" class="btnS_basic btn_lyr_open">등록</button>
                                <button type="button" th:onclick="'javascript:deleteMultiUser();'" class="btnS_line">삭제</button>
                            </div>
                        </div>
                        <div class="stn_cont">
                            <table class="tbl_line_lst" summary="번호/email/이름/상태/등록일/수정일로 구성됨">
                                <caption class="hide">테이블 제목</caption>
                                <colgroup>
                                    <col><col><col><col><col>
                                    <col><col>
                                    <!-- cell 개수 만큼 <col> 개수를 넣어야 함 -->
                                </colgroup>
                                <thead>
                                    <tr>
                                        <th scope="col">
                                            <div class="ipt_check_only">                                            
                                                <input type="checkbox" class="ipt_tbl_allCheck">
                                            </div>
                                        </th>
                                        <th scope="col">번호</th>
                                        <th scope="col">E-mail</th>
                                        <th scope="col">이름</th>
                                        <th scope="col">상태</th>
                                        <th scope="col">등록일</th>
                                        <th scope="col">수정일</th>
                                    </tr>	
                                </thead>
                                <tbody id="userlist">
                                </tbody>
                            </table>
                        </div>
                        <!--page navigation-->
                        <div id="pagination"></div>
                    </div>
                    </form>
                </div>
                <!-- //.content -->
            </div>
            <!-- //#contents -->
        </div>
        <!-- //#container -->

    </div>
    <!-- //#potalWrap -->
</div>
<!-- //#wrap -->

<!-- lyrWrap -->
<div class="lyrWrap">
    <div class="lyr_bg"></div>
    <!-- 사용자 등록 -->
    <div class="lyrBox lyr_user_add" layout:fragment="lyr_user_add">
        <div class="lyr_top">
            <h3>사용자 등록</h3>
            <button class="btn_lyr_close">닫기</button>
        </div>
        <div class="lyr_mid">
            <dl class="dlBox">
                <dt>아이디</dt>
                <dd>
                    <div class="iptBox">
                        <input type="text" id="add_user_id" name="add_user_id"  maxlength="20"  class="ipt_txt" style="width:calc(100% - 82px); padding-right:75px;" placeholder="E-mail형식으로 넣어주세요.">
                        <button type="button" class="btn_srch" th:onclick="'javascript:getUserId();'">중복확인</button>
                        <!-- [D] 에러메세지 -->
                        <p class="error_msg" id="id_check_msg1" style="display:none">사용할 수 있는 아이디 입니다. or 형식이 올바르지 않습니다.</p>
                    </div>
                </dd>
            </dl>
            <dl class="dlBox">
                <dt>이름</dt>
                <dd>
                    <div class="iptBox">
                        <input type="text" id="add_user_nm" name="add_user_nm" class="ipt_txt" maxlength="20" placeholder="사용자 이름" >
                    </div>
                </dd>
            </dl>
            <dl class="dlBox">
                <dt>비밀번호</dt>
                <dd>
                    <div class="iptBox" style="margin-bottom:7px;">
                        <input type="password" id="add_password1" class="ipt_txt" maxlength="20" placeholder="비밀번호">
                        <!-- [D] 에러메세지 -->
                        <p class="error_msg" id="pw_check_msg1" style="display:none">패스워드 생성규칙이 올바르지 않습니다. 8~20자 이내, 대소문자 숫자 포함</p>
                    </div>
                    <div class="iptBox">
                        <input type="password" id="add_password2" class="ipt_txt" maxlength="20" placeholder="비밀번호 확인">
                        <!-- [D] 에러메세지 -->
                        <p class="error_msg" id="pw_not_match_msg1" style="display:none">패스워드가 일치하지 않습니다.</p>
                    </div>
                </dd>
            </dl>
        </div>
        <div class="lyr_btm">
            <div class="btnBox sz_small">
                <button class="" th:onclick="'javascript:insertUser();'">확인</button>
            </div>
        </div>
    </div>
    <!-- //사용자 등록 -->
    <!-- 사용자 변경 -->
    <div class="lyrBox lyr_user_mody" layout:fragment="lyr_user_mody">
        <div class="lyr_top">
            <h3>사용자 변경</h3>
            <button class="btn_lyr_close">닫기</button>
        </div>
        <div class="lyr_mid">
            <dl class="dlBox">
                <dt>아이디</dt>
                <dd>
                    <div class="iptBox">
                        <input type="text" id="mody_user_id" name="mody_user_id"  class="ipt_txt" value="" disabled>
                    </div>
                </dd>
            </dl>
            <dl class="dlBox">
                <dt>이름</dt>
                <dd>
                    <div class="iptBox">
                        <input type="text" id="mody_user_nm" name="mody_user_nm" maxlength="20" class="ipt_txt" value="" >
                    </div>
                </dd>
            </dl>
            <dl class="dlBox">
                <dt>비밀번호</dt>
                <dd>
                    <div class="iptBox" style="margin-bottom:7px;">
                        <input type="password" id="mody_password1" class="ipt_txt" maxlength="20" placeholder="비밀번호">
                        <!-- [D] 에러메세지 -->
                        <p class="error_msg" id="pw_check_msg2" style="display:none">패스워드 생성규칙이 올바르지 않습니다. 8~20자 이내, 대소문자 숫자 포함</p>
                    </div>
                    <div class="iptBox">
                        <input type="password" id="mody_password2" class="ipt_txt" maxlength="20" placeholder="비밀번호 확인">
                        <!-- [D] 에러메세지 -->
                        <p class="error_msg" id="pw_not_match_msg2" style="display:none">패스워드가 일치하지 않습니다.</p>
                    </div>
                </dd>
            </dl>
            <dl class="dlBox">
                <dt>사용</dt>
                <dd class="checking">
                    <div class="checkBox">
                        <input type="checkbox" id="ipt_check_on" name="ipt_check_on" value="1" class="ipt_check" checked>
                        <label for="ipt_check_on">정상</label>
                    </div>
                    <div class="checkBox">
                        <input type="checkbox" id="ipt_check_off" name="ipt_check_off" value="0" class="ipt_check">
                        <label for="ipt_check_off">잠김</label>
                    </div>
                </dd>
            </dl>
        </div>
        <div class="lyr_btm">
            <div class="btnBox sz_small">
                <button class="" th:onclick="'javascript:updateUserInfo();'" >확인</button>
            </div>
        </div>
    </div>
    <!-- //사용자 변경 -->
</div>
<!-- //lyrWrap(사용자 프로필) -->

<!-- page Landing -->
<script type="text/javascript" layout:fragment="custom-winload">
    $(window).load(function() {
        //page loading delete
        $('#pageldg').addClass('pageldg_hide').delay(300).queue(function() { $(this).remove(); });
        getUserList();
    });

    function getUserList(currentPageNo){

        if(currentPageNo === undefined){
            currentPageNo = "1";
        }
        //alert(currentPageNo);
        $("#current_page_no").val(currentPageNo);

        $.ajax({

            url		:"/admin/getUserList",
            data    : $("#userForm").serialize(),
            dataType:"JSON",
            cache   : false,
            async   : true,
            type	:"GET",
            success : function(obj) {
                $("#userlist").html($("#listTemplate").render(obj));
                $("#pagination").html(obj.data.pagination);
            },
            error 	: function(xhr, status, error) {}

        });
    }

    //사용자 상세
    function user_detail(user_no) {
        console.log(user_no);
        $('.lyrWrap').show();
        $('.lyrBox').show();
        $('.lyr_user_mody').show();

        getUserDetail(user_no);
    }

    /** 사용자 - 상세 조회  */
    function getUserDetail(user_no){

        $('input[name=user_no]').val(user_no);

        if(user_no != ""){
            $.ajax({
                url		  : "/admin/getUserDetail",
                data    : $("#userForm").serialize(),
                dataType: "JSON",
                cache   : false,
                async   : true,
                type	: "POST",
                success : function(obj) {
                    getUserDetailCallback(obj);
                },
                error 	: function(xhr, status, error) {}

            });
        }
    }

    /** 사용자 - 상세 조회  콜백 함수 */
    function getUserDetailCallback(obj){

        if(obj != null){
            var user_id 			= obj.user_id;
            var user_nm 		    = obj.user_nm;
            var user_pw 		    = obj.user_pw;
            var enabled 			= obj.enabled;

            $("#mody_user_id").val(user_id);
            $("#mody_user_nm").val(user_nm);
            $("#mody_password1").val(user_pw);
            $("#mody_password2").val(user_pw);


            if(enabled == 1){
                // console.log(enabled);
                $("#ipt_check_on").prop('checked', true);
                $("#ipt_check_off").prop('checked', false);
            }else{
                $("#ipt_check_on").prop('checked', false);
                $("#ipt_check_off").prop('checked', true);
            }

        } else {
            return;
        }
    }

    /** User 정보 - 수정  */
    function updateUserInfo(){

        var password1 = $("#mody_password1").val();
        var password2 = $("#mody_password2").val();

        if(password1 != null && password1 != ''){
            if(!pwd_check(password1)){
                $('#pw_check_msg2').show();
                $('#pw_not_match_msg2').hide();
                return;
            }else{
                $('#pw_check_msg2').hide();
            }
        }
        if(password1 == '' && password2 == ''){
            $('.lyrWrap').hide();
            $('.lyrBox').hide();
            return;
        }

        if(password1 != password2){
            // alert("비밀번호가 일치하지 않습니다.");
            $('#pw_not_match_msg2').show();
            $("#mody_password1").focus();
            return;
        }else{
            $('#pw_not_match_msg2').hide();
            $('input[name=user_pw]').val(password1);
        }

        $('input[name=user_nm]').val($("#mody_user_nm").val());

        if($("#ipt_check_on").is(":checked")){
            $('input[name=enabled]').val(1);
        }else{
            $('input[name=enabled]').val(0);
        }

        var yn = confirm("사용자 정보를 수정하시겠습니까?");
        if(yn){

            $.ajax({
                type 		: 'post',
                url  		: '/admin/updateUserInfo',
                data    : $("#userForm").serialize(),
                dataType: "JSON",
                cache   : false,
                async   : true,
                type		: "POST",
                success : function(obj) {
                    console.log('success info');
                    updateUserInfoCallback(obj);
                },
                error 	: function(xhr, status, error) {}
            });
        }
    }

    function updateUserInfoCallback(obj){

        if(obj != null){

            var result = obj.result;

            if(result == "SUCCESS"){
                alert("수정 성공하였습니다.");
                $('.lyrWrap').hide();
                $('.lyrBox').hide();
                getUserList();
            } else {
                alert("수정 실패하였습니다.");
                return;
            }
        }
    }

    /** 사용자 - id 중복 조회  */
    function getUserId(){
        var user_id = $("#add_user_id").val();
        if(user_id == ""){
            alert("아이디를 입력해주세요.");
            $("#add_user_id").focus();
            return;
        }else if(!chkEmail(user_id)){
            alert("이메일형식으로 입력해주세요.");
            $("#add_user_id").focus();
            return;
        }

        $('input[name=user_id]').val(user_id);

        if(user_id != ""){
            $.ajax({
                url		  : "/admin/getUserId",
                data    : $("#userForm").serialize(),
                dataType: "JSON",
                cache   : false,
                async   : true,
                type	: "POST",
                success : function(obj) {
                    console.log(obj.user_id);
                    idCheck(obj.user_id);
                },
                error 	: function(xhr, status, error) {
                    idCheck();
                }

            });
        }
    }

    function idCheck(id){
        if($("#add_user_id").val() == id){
            alert('이미 등록된 아이디입니다.');
            $("#add_user_id").val('');
            $('input[name=id_check]').val("");
            $("#add_user_id").focus();
            return;
        }else{
            $('input[name=id_check]').val('check');
            alert('사용 가능한 아이디입니다.');
            $("#add_user_nm").focus();
        }
    }

    function chkEmail(str) {
        var regExp = /^[0-9a-zA-Z]([-_.]?[0-9a-zA-Z])*@[0-9a-zA-Z]([-_.]?[0-9a-zA-Z])*.[a-zA-Z]{2,3}$/i;
        if (regExp.test(str)) return true;
        else return false;
    }

    /** user - 등록  */
    function insertUser(){

        var user_id = $("#add_user_id").val();
        if(user_id == ""){
            alert("아이디를 입력해주세요.");
            $("#user_id").focus();
            return;
        }

        var id_check = $("#id_check").val();
        if(id_check == ""){
            alert("아이디 중복 확인해주세요.");
            $("#id_check").focus();
            return;
        }

        var user_nm = $("#add_user_nm").val();
        if(user_nm == ""){
            alert("이름을 입력해주세요.");
            $("#add_user_nm").focus();
            return;
        }

        var password1 = $("#add_password1").val();
        var password2 = $("#add_password2").val();

        if(password1 == ""){
            alert("비밀번호를 입력해주세요.");
            $("#add_password1").focus();
            return;
        }

        if(password1 != null && password1 != ''){
            if(!pwd_check(password1)){
                $('#pw_check_msg1').show();
                $('#pw_not_match_msg1').hide();
                return;
            }else{
                $('#pw_check_msg1').hide();
            }
        }

        if(password1 != password2){
            $('#pw_not_match_msg1').show();
            $("#add_password1").focus();
            return;
        }else{
            $('#pw_not_match_msg1').hide();
            $('input[name=user_pw]').val(password1);
        }

        $('input[name=user_id]').val($("#add_user_id").val());
        $('input[name=user_nm]').val($("#add_user_nm").val());

        var yn = confirm("등록하시겠습니까?");
        if(yn){

            $.ajax({
                type 		: 'post',
                url  		: '/admin/insertUser',
                data    : $("#userForm").serialize(),
                dataType: "JSON",
                cache   : false,
                async   : true,
                type		: "POST",
                success : function(obj) {
                    insertUserCallback(obj);
                },
                error 	: function(xhr, status, error) {}
            });
        }
    }

    function insertUserCallback(obj){

        if(obj != null){

            var result = obj.result;

            if(result == "SUCCESS"){
                alert("등록 성공하였습니다.");
                $('.lyrWrap').hide();
                $('.lyrBox').hide();
                getUserList();
            } else {
                alert("등록 실패하였습니다.");
                return;
            }
        }
    }

    /** 사용자 - 삭제 */
    function deleteMultiUser(){

        var user_no_arr = new Array;

        $("input[name=chk]:checked").each(function() {
            user_no_arr.push($(this).val());
        });

        if(user_no_arr == null || user_no_arr.length == 0){
            alert("선택된 항목이 없습니다.");
            return;
        }else{
            $('#user_no_arr').val(user_no_arr);
        }

        var yn = confirm("사용자를 삭제하시겠습니까?");
        if(yn){

            $.ajax({

                url		: "/admin/deleteMultiUser",
                data    : $("#userForm").serialize(),
                dataType: "JSON",
                cache   : false,
                async   : true,
                type	: "POST",
                success : function(obj) {
                    deleteMultiUserCallback(obj);
                },
                error 	: function(xhr, status, error) {}

            });
        }
    }

    /** 게시판 - 삭제 콜백 함수 */
    function deleteMultiUserCallback(obj){

        if(obj != null){

            var result = obj.result;

            if(result == "SUCCESS"){
                alert("삭제 성공하였습니다.");
                location.reload();
            } else {
                alert("삭제 실패하였습니다.");
                return;
            }
        }
    }

</script>
<!-- script -->
<script type="text/javascript" layout:fragment="custom-script">
jQuery.event.add(window,"load",function(){
	$(document).ready(function (){
        $('.nav_pnb li').removeClass('active'); 
        $('.nav_pnb span:contains("사용자관리")').parent().parent().addClass('active'); 
        
        //iframe 접근
        $('iframe').contents().find('body').addClass('gcs');

        //사용자 등록
        $('#btn_user_add').on('click',function(){
            $('.lyr_user_add').show();
        });
	});
});
</script>

<script id="listTemplate" type="text/x-jsrender" layout:fragment="custom-listTemplate">
{{for data.list}}
                                    <tr>
                                        <td scope="row">
                                            <div class="ipt_check_only">
                                                <input type="checkbox" name="chk" value="{{>user_no}}" class="ipt_tbl_check">
                                            </div>
                                        </td>
                                        <td>{{>num}}</td>
                                        <td><a class="link" onclick="javascript:user_detail({{>user_no}})" >{{>user_id}}</a></td>
                                        <td>{{>user_nm}}</td>
{{if enabled == 1}}
											<td>정상</td>
{{else}}
											<td>잠김</td>
{{/if}}
                                        <td>{{>ins_dt}}</td>
                                        <td>{{>upd_dt}}</td>
                                    </tr>
{{else}}
                                    <tr>
                                        <td scope="row" colspan="7" class="data_none">등록된 데이터가 없습니다.</td>
                                    </tr>
{{/for}}
</script>
</body>
</html>
