@charset "utf-8"; 

/* Noto Sans */ 
@font-face {
	font-family:'Noto Sans KR';
	font-style:normal;
	font-weight:100;
	src:local('Noto Sans KR Thin'), local('NotoSansKR-Thin'), url('../font/NotoSansKR-Thin.otf') format('opentype');
}
@font-face {
	font-family:'Noto Sans KR';
	font-style:normal;
	font-weight:300;
	src:local('Noto Sans KR Light'), local('NotoSansKR-Light'), url('../font/NotoSansKR-Light.otf') format('opentype');
}
@font-face {
	font-family:'Noto Sans KR';
	font-style:normal;
	font-weight:400;
	src:local('Noto Sans KR Regular'), local('NotoSansKR-Regular'), url('../font/NotoSansKR-Regular.otf') format('opentype');
}
@font-face {
	font-family:'Noto Sans KR';
	font-style:normal;
	font-weight:500;
	src:local('Noto Sans KR Medium'), local('NotoSansKR-Medium'), url('../font/NotoSansKR-Medium.otf') format('opentype');
}
@font-face {
	font-family:'Noto Sans KR';
	font-style:normal;
	font-weight:700;
	src:local('Noto Sans KR Bold'), local('NotoSansKR-Bold'), url('../font/NotoSansKR-Bold.otf') format('opentype');
}
@font-face {
	font-family:'Noto Sans KR';
	font-style:normal;
	font-weight:900;
	src:local('Noto Sans KR Black'), local('NotoSansKR-Black'), url('../font/NotoSansKR-Black.otf') format('opentype');
}

/* Roboto */ 
@font-face {
	font-family:'Roboto';
	font-style:normal;
	font-weight:100;
	src:url('../font/Roboto-Thin.otf') format('opentype');
	src:url('../font/Roboto-Thin.woff') format('woff'),
		url('../font/Roboto-Thin.woff2') format('woff2');
}
@font-face {
	font-family:'Roboto';	
	font-style:normal;
	font-weight:300;
	src:url('../font/Roboto-Light.otf') format('opentype');
	src:url('../font/Roboto-Light.woff') format('woff'),
		url('../font/Roboto-Light.woff2') format('woff2');
}
@font-face {
	font-family:'Roboto';
	font-style:normal;
	font-weight:400;
	src:url('../font/Roboto-Regular.otf') format('opentype');
	src:url('../font/Roboto-Regular.woff') format('woff'),
		url('../font/Roboto-Regular.woff2') format('woff2');
}
@font-face {
	font-family:'Roboto';
	font-style:normal;
	font-weight:500;
	src:url('../font/Roboto-Medium.otf') format('opentype');
	src:url('../font/Roboto-Medium.woff') format('woff'),
		url('../font/Roboto-Medium.woff2') format('woff2');
}
@font-face {
	font-family:'Roboto';
	font-style:normal;
	font-weight:700;
	src:url('../font/Roboto-Bold.otf') format('opentype');
	src:url('../font/Roboto-Bold.woff') format('woff'),
		url('../font/Roboto-Bold.woff2') format('woff2');
}