@charset "utf-8";
/* MINDsLab. YMJ. 20190830 */

/* page loading */
.gcsWrap #pageldg{display:block; position:fixed; top:0px; left:0px; width:100%; height:100%; text-align:center; background-color:#fff; z-index:9999; opacity:1.0;}
.gcsWrap #pageldg:before{content:''; position:absolute; top:50%; left:50%; margin:0 0 0 -30px;; border-radius:100%; background:radial-gradient(#e9edf3, #fff); opacity:0; width:60px; height:60px; -webkit-animation:pageldg_wave 1.7s 2.5s linear infinite; animation:pageldg_wave 1.7s 2.5s linear infinite; z-index:444;}
/* keyframes */
@-webkit-keyframes pageldg_wave{
0%  {-webkit-transform:scale(0); transform:scale(0); opacity:0;}
5%  {opacity:1;}
100%{-webkit-transform:scale(1); transform:scale(50); opacity:0;} 
}
@keyframes pageldg_wave{
0%  {-webkit-transform:scale(0); transform:scale(0); opacity:0;}
5%  {opacity:1;}
100%{-webkit-transform:scale(1); transform:scale(50); opacity:0;}
}
.gcsWrap #pageldg span.out_bg{position:absolute; top:50%; width:150px; height:150px; margin:-75px 0 0 -75px; border-radius:150px; background:#ced4db; animation:out_bg 1s 0s ease-in-out both; z-index:555;}
/* keyframes */
@-webkit-keyframes out_bg{
0%{opacity:0; transform:scale(0);}
80%{opacity:0.3; transform:scale(1.2);}
100%{opacity:1; transform:scale(1);}
}
@keyframes out_bg{
0%{opacity:0; transform:scale(0);}
80%{opacity:0.2; transform:scale(1.2);}
100%{opacity:1; transform:scale(1);}
}
.gcsWrap #pageldg span em{overflow:hidden; position:absolute; top:50%; left:50%; width:100px; height:100px; margin:-50px 0 0 -50px; background:rgba(11,42,74,0.25); animation:em_opacity 3s 0.1s ease-in-out both;}
/* keyframes */
@-webkit-keyframes em_opacity{
0%{opacity:0; top:0%;}
20%{opacity:0.3; top:55%;}
30%{opacity:1; top:50%;}
100%{opacity:1; top:50%;}
}
@keyframes em_opacity{
0%{opacity:0; top:0%;}
20%{opacity:0.3; top:55%;}
30%{opacity:1; top:50%;}
100%{opacity:1; top:50%;}
}
.gcsWrap #pageldg span em strong:nth-child(1){content:''; position:absolute; bottom:0%; left:50%; width:60px; height:60px; margin:0 0 0 -35px; border-radius:50px; background:rgba(11,42,74,1.0); animation:st_move_01 1.5s 0.1s ease-in-out both; z-index:888;}
/* keyframes */
@-webkit-keyframes st_move_01{
0%{top:150%;}
100%{top:50%;}
}
@keyframes st_move_01{
0%{bottom:-100px;}
100%{bottom:0;}
}
.gcsWrap #pageldg span em strong:nth-child(2){content:''; position:absolute; top:10px; left:0; width:50px; height:50px; border-radius:50px; background:#00aebc; animation:st_move_02 1s 1s ease-in-out both;}
/* keyframes */
@-webkit-keyframes st_move_02{
0%{top:100px; left:50px;}
100%{top:10px; left:0;}
}
@keyframes st_move_02{
0%{top:100px; left:50px;}
100%{top:10px; left:0;}
}
.gcsWrap #pageldg span em strong:nth-child(3){content:''; position:absolute; top:10px; right:0; width:50px; height:50px; border-radius:10px; background:#008ad8; animation:st_move_03 1s 1.5s ease-in-out both;}
/* keyframes */
@-webkit-keyframes st_move_03{
0%{top:150%;}
40%{top:150%;}
100%{top:50%;}
}
@keyframes st_move_03{
0%{top:100px; right:50px;}
100%{top:10px; right:0;}
}
.gcsWrap #pageldg span em b{content:''; position:absolute; top:50%; left:50%; width:100px; height:100px; margin:-50px 0 0 -50px; background:url("../images/ico_pageldg_bg.png") 50% 50% no-repeat; background-size:cover; z-index:999;}
.pageldg_hide{-webkit-animation-duration:1s; animation-duration:1s; -webkit-animation-fill-mode:both; animation-fill-mode:both; -webkit-animation-name:pageldg_hide; animation-name:pageldg_hide;}
/* keyframes */
@-webkit-keyframes pageldg_hide{
0%{opacity:1;}
100%{opacity:0;}
}
@keyframes pageldg_hide{
0%{opacity:1;}
100%{opacity:0;}
}

/* -------------------- wrap -------------------- */
.gcsWrap #wrap {display:table; position:relative; width:100%; min-width:1240px; height:100%;}

/* skip navigation */
.gcsWrap #skipNav{position:absolute; left:0; width:100%; height:0; z-index:9999;}
.gcsWrap #skipNav a{display:block; overflow:hidden; height:0; padding:0 10px; color:#000; text-align:right;}
.gcsWrap #skipNav a:hover, #skipNav a:focus, #skipNav a:active{position:absolute; width:100%; height:30px; color:#fff; text-decoration:underline; text-align:center; line-height:30px; background:rgba(11,42,74,0.8);}
.gcsWrap #skipNav:hover,#skipNav:focus,#skipNav:active{position:relative;}

/* potal navigation */
.gcsWrap .pnb {display:none; position:relative; width:0; height:100%; padding:0; vertical-align:top; background:linear-gradient(125deg, #008ad8, #00aebc); z-index:6666; opacity:0; transition:all 0.7s ease-out;}
.gcsWrap .pnb h1 {display:table; position:relative; width:calc(100% - 40px); height:80px; padding:0 20px; color:#fff; font-size:24px; font-weight:600; text-align:left; line-height:18px; text-transform:uppercase; border-bottom:1px solid rgba(255,255,255,0.1); transition:all 0.3s ease-out;}
.gcsWrap .pnb h1 span {display:table-cell; vertical-align: middle}

.gcsWrap #wrap.nav_show .pnb {display:table-cell; -webkit-animation-duration:0.3s; animation-duration:0.3s; -webkit-animation-fill-mode:both; animation-fill-mode:both; -webkit-animation-name:potalNav_show; animation-name:potalNav_show;}
.gcsWrap #wrap.nav_hide .pnb {display:table-cell; -webkit-animation-duration:0.3s; animation-duration:0.3s; -webkit-animation-fill-mode:both; animation-fill-mode:both; -webkit-animation-name:potalNav_hide; animation-name:potalNav_hide;}
@-webkit-keyframes potalNav_show{
0%  {opacity:0; display:none; width:130px;}
100%{opacity:1; display:block; width:180px;}
}
@keyframes potalNav_show {
0%  {opacity:0; display:none; width:130px;}
100%{opacity:1; display:block; width:180px;}
}
@-webkit-keyframes potalNav_hide{
0%   {opacity:1; display:block; width:150px;}
100% {opacity:0; display:none; width:100px;}
}
@keyframes potalNav_hide {
0%   {opacity:1; display:block; width:150px;}
100% {opacity:0; display:none; width:100px;}
}
.gcsWrap #wrap.nav_show:after {content:''; position:fixed; top:0; left:0; width:100%; height:100%; background:rgba(0,0,0,0.8); z-index: 5555;}
.gcsWrap #wrap.nav_hide:after {content:''; position:fixed; top:0; left:0; width:100%; height:100%; background:rgba(0,0,0,0.8); z-index: 5555;}

.gcsWrap .pnb h1 .btn_potal_close{position:absolute; top:50%; right:10px; overflow:hidden; width:30px; height:30px; margin:-17px 0 0 0; text-indent:-99px; border:none; background:none; opacity:0.3; transition:all 0.3s ease-out; cursor:pointer;}
.gcsWrap .pnb h1 .btn_potal_close:hover, .gcsWrap .pnb h1 .btn_lyr_close:focus{opacity:0.7; transition:all 0.3s ease-out;}
.gcsWrap .pnb h1 .btn_potal_close:before{content:''; position:absolute; top:50%; left:0%; width:100%; height:2px; background:#fff; border-radius:5px; transform:rotate(45deg);}
.gcsWrap .pnb h1 .btn_potal_close:after{content:''; position:absolute; top:50%; left:0%; width:100%; height:2px; border-radius:5px; background:#fff; transform:rotate(-45deg);}

.gcsWrap .pnb .nav_pnb {display:block; margin:20px 0 0 0;}
.gcsWrap .pnb .nav_pnb li {display:table; width:100%; margin:0 0 15px 0;}
.gcsWrap .pnb .nav_pnb li a{position:relative; height:22px; padding:0 0 0 25px; color:rgba(11,42,74,0.6); font-size:13px; font-weight:600; line-height:20px; text-transform:uppercase; transition:all 0.3s ease-out;}
.gcsWrap .pnb .nav_pnb li a span{position:relative; z-index:10;}
.gcsWrap .pnb .nav_pnb li a:hover, .gcsWrap .pnb .nav_pnb li a:focus{color:rgba(11,42,74,1.0); text-decoration:underline; transition:all 0.3s ease-out;}
.gcsWrap .pnb .nav_pnb li a.active{display:block; position:relative; padding:8px 0 8px 25px; color:#008ad8;}
.gcsWrap .pnb .nav_pnb li a.active span{font-size:15px;}
.gcsWrap .pnb .nav_pnb li a.active:after{content:''; position:absolute; top:0; left:0; width:calc(100% - 20px); height:100%; border-radius:0 50px 50px 0; box-shadow:0 0 15px rgba(11,42,74,0.3); background:#fff; z-index:5;}
.gcsWrap .potalWrap {display:table-cell;}

/* -------------------- header -------------------- */
.gcsWrap #header{display:block; position:absolute; width:210px; height:80px; z-index:1000; transition:all 0.3s ease-out;}
.gcsWrap #header h2 {display:table; width:100%; height:100%; text-align:center;}
.gcsWrap #header h2 a{display:table-cell; color:#008ad8; font-size:14px; padding:16px 0 0 50px; font-weight:500; text-align:left; transition:all 0.3s ease-out;}
.gcsWrap #header h2 a span {display:block; color:#00aebc; font-size:20px; font-weight:600;}
.gcsWrap #header a.btn_potal {overflow:hidden; position:absolute; top:50%; left:15px; width:18px; height:18px; margin:-8px 0 0 0; text-indent:-999px; background:url("../images/ico_ham.png") 50% 50% no-repeat; background-size:cover;}

.gcsWrap .etc {position:absolute; bottom:30px; left:0; width:100%; }
.gcsWrap .etc li {display:block; padding:0 10px;}
.gcsWrap .etc li a {display:block; height:36px; color:#fff; text-align:center; line-height:34px; border-radius:3px; background:rgba(11,42,74,1.0);}
.gcsWrap .etc li a:hover,.gcsWrap .etc li a:focus{text-decoration:underline;}

/* -------------------- container -------------------- */
.gcsWrap #container{position:relative; display:table; width:100%; height:calc(100% - 20px); vertical-align:top;}
.gcsWrap #container iframe {position:absolute;width:100%; height:100%; border:none;}

/* -------------------- footer -------------------- */
#footer{display:block; position:relative; height:19px; font-size:11px; text-align:center; border-top:1px solid #eef1f7; background:#fff;}
#footer .cyrt{display:inline-block; color:rgba(11,42,74,0.6); font-size:9px; line-height:17px;}

.gcs #header{display:none;}
.gcs #container {height:calc(100% - 20px);}
.gcs #wrap #container{height:100%; margin:0;}
.gcs #login {display:table; background:#fff url(/resources/images/bg_login.png) 0 bottom repeat-x}
.gcs .visual_area {display:none; float:none; background:none;}
.gcs .login_area {display: table-cell; float:none; padding:0; text-align:center; vertical-align: middle;}
.gcs .login_wrap {display:inline-block; margin:0 auto; text-align: left;}
.gcs #footer{display:none;}
.gcs>form {width:100%; height:100%;}
.gcs #wrap #container #snb_menu {padding:40px 0 0 0;}
.gcs #snb_menu ul {margin:30px 0 0 0; border-top:1px solid #cdcdcd;}
.gcs #snb_menu li a {padding-left:20px;}
.gcs #snb_menu li.on a {width:calc(100% - 23px);}
.gcs #snb_menu li a i {width:18px; margin:0 10px 0 0; padding:0;}
.gcs #snb_menu li#m99{display:none;}
.gcs #snb_menu li#m09{display:none;}
.gcs #snb_menu li#m10{display:none;}
.gcs #snb_menu.inbound #01{display:none;}
.gcs #snb_menu.inbound #03{display:none;}
.gcs #snb_menu.inbound #04{display:none;}
.gcs #snb_menu.inbound #05{display:none;}
.gcs #snb_menu.outbound #06{display:none;}
.gcs #snb_menu.outbound #07{display:none;}
.gcs #snb_menu.outbound #08{display:none;}










