<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="layout/mainLayout">
<head>
</head>

<body class="gcsWrap">
<div id="wrap">

  <!-- .potalWrap -->
  <div class="potalWrap">
    <!-- #header -->
    <div id="header" layout:fragment="header" th:if="${!'N'.equals(headerVisible)}">
      <h2>
        <a style="color:#4c84ff;" href="#none" th:text="${title}"></a>
      </h2>
      <!-- .etc -->
      <div class="etc">
        <!-- .nav_etc -->
        <ul class="nav_etc">
          <!-- [D] 프로필 수정 UI는 common.js에 있음 -->
          <li><a class="ico_profile btn_lyr_open" href="#none"><span>프로필</span></a></li>
          <li><a class="ico_logout" th:href="@{/logout}"><span>로그아웃</span></a></li>
        </ul>
        <!-- //.nav_etc -->
      </div>
      <!-- //.etc -->
    </div>
    <!-- //#header -->
    <!-- #container -->
    <div id="container" layout:fragment="container" th:style="${menuName.toString().equals('/analytics')} ? 'margin-top:19px'">
      <!-- AI 상담 -->
      <iframe th:if="${menuName.toString().equals('/ai/in-bound')}" frameborder="0" src="http://10.122.64.90:8080/login?mainPage=callStatus"></iframe>
      <iframe th:if="${menuName.toString().equals('/ai/out-bound')}" frameborder="0" src="http://10.122.64.90:8080/login?mainPage=mntTargetUpload"></iframe>
      <!-- Hybrid 상담 -->
      <iframe th:if="${menuName.toString().equals('/hybrid/in-bound')}" frameborder="0" src="http://10.122.64.90:8080/login?mainPage=ibCsMain"></iframe>
      <iframe th:if="${menuName.toString().equals('/hybrid/in-bound/statics-main')}" frameborder="0" src="http://10.122.64.90:8080/login?mainPage=ibStatsRecordMain"></iframe>
      <iframe th:if="${menuName.toString().equals('/hybrid/out-bound')}" frameborder="0" src="http://10.122.64.90:8080/login?mainPage=obCsMain"></iframe>
      <!-- Human 상담 -->
      <iframe th:if="${menuName.toString().equals('/human/chatting-counseling')}" frameborder="0" src="https://workspace.gitple.io/#/login?returnUrl=%2Fpages%2Fchat"></iframe>
      <!-- AI-VR -->
      <iframe th:if="${menuName.toString().equals('/aiIVR')}" frameborder="0" src="http://10.122.64.90:19500/"></iframe>
      <!-- Analytics -->
      <iframe th:if="${menuName.toString().equals('/analytics')}" frameborder="0" src="http://10.122.64.90:18090/login"></iframe>
      <!-- Chatbot Admin -->
      <iframe th:if="${menuName.toString().equals('/chatbot-admin/dashboard')}" frameborder="0" src="http://10.122.64.90:19100/#/management/dashboard"></iframe>
      <iframe th:if="${menuName.toString().equals('/chatbot-admin/chatbot-management')}" frameborder="0" src="http://10.122.64.90:19100/#/management/chatbot-management"></iframe>
      <iframe th:if="${menuName.toString().equals('/chatbot-admin/bqa')}" frameborder="0" src="http://10.122.64.90:19100/#/management/domains/d-bqa"></iframe>
      <iframe th:if="${menuName.toString().equals('/chatbot-admin/scenario')}" frameborder="0" src="http://10.122.64.90:19100/#/management/domains/d-scenario"></iframe>
      <iframe th:if="${menuName.toString().equals('/chatbot-admin/api')}" frameborder="0" src="http://10.122.64.90:19100/#/management/add-ons/api-mgmt"></iframe>
      <iframe th:if="${menuName.toString().equals('/chatbot-admin/nlp-test')}" frameborder="0" src="http://10.122.64.90:19100/#/management/add-ons/nlp-test"></iframe>
      <iframe th:if="${menuName.toString().equals('/chatbot-admin/workspace')}" frameborder="0" src="http://10.122.64.90:19100/#/management/management/workspaces"></iframe>
      <iframe th:if="${menuName.toString().equals('/chatbot-admin/team')}" frameborder="0" src="http://10.122.64.90:19100/#/management/management/teams"></iframe>
      <iframe th:if="${menuName.toString().equals('/chatbot-admin/user')}" frameborder="0" src="http://10.122.64.90:19100/#/management/management/users"></iframe>
      <iframe th:if="${menuName.toString().equals('/chatbot-admin/code')}" frameborder="0" src="http://10.122.64.90:19100/#/management/management/common-codes"></iframe>
      <iframe th:if="${menuName.toString().equals('/chatbot-admin/code-group')}" frameborder="0" src="http://10.122.64.90:19100/#/management/management/common-code-groups"></iframe>
      <iframe th:if="${menuName.toString().equals('/chatbot-admin/logs')}" frameborder="0" src="http://10.122.64.90:19100/#/management/dialogs/logs"></iframe>
      <iframe th:if="${menuName.toString().equals('/chatbot-admin/error')}" frameborder="0" src="http://10.122.64.90:19100/#/management/dialogs/error"></iframe>
      <iframe th:if="${menuName.toString().equals('/chatbot-admin/profile')}" frameborder="0" src="http://10.122.64.90:19100/#/management/profile"></iframe>
      <iframe th:if="${menuName.toString().equals('/chatbot-admin/nlp-synonym')}" frameborder="0" src="http://10.122.64.90:19100/#/management/nlp/synonym/synonyms"></iframe>
      <iframe th:if="${menuName.toString().equals('/chatbot-admin/nlp-employees')}" frameborder="0" src="http://10.122.64.90:19100/#/management/nlp/user-dic/employees"></iframe>
    </div>
    <!-- //#container -->

  </div>
  <!-- //#potalWrap -->
</div>
<!-- //#wrap -->
<!-- page Landing -->
<script type="text/javascript" layout:fragment="custom-winload">
  $(window).load(function() {
    //page loading delete
    $('#pageldg').addClass('pageldg_hide').delay(300).queue(function() { $(this).remove(); });
  });
</script>
<!-- script -->
<script type="text/javascript" layout:fragment="custom-script">
  jQuery.event.add(window,"load",function(){
    $(document).ready(function (){
      /*var menuName = "[[${menuName}]]";

      $(".nav_pnb").find("[href='"+ menuName +"']").parents("li").addClass("active");*/


      //iframe 접근
      $('iframe').contents().find('body').addClass('gcs');
    });
  });
</script>
</body>
</html>
