<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
	  xmlns="http://www.w3.org/1999/xhtml"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="format-detection" content="telephone=no">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no">
	<!-- Cache reset -->
	<meta http-equiv="Expires" content="Mon, 06 Jan 2016 00:00:01 GMT">
	<meta http-equiv="Expires" content="-1">
	<meta http-equiv="Pragma" content="no-cache">
	<meta http-equiv="Cache-Control" content="no-cache">
	<!-- icon_favicon -->
	<link rel="shortcut icon" type="image/x-icon" th:href="@{/images/ico_favicon_60x60.png}"><!-- 윈도우즈 사이트 아이콘, HiDPI/Retina 에서 Safari 나중에 읽기 사이드바 -->
	<!-- css -->
	<link rel="stylesheet" type="text/css" th:href="@{/css/font.css}">
	<link rel="stylesheet" type="text/css" th:href="@{/css/reset.css}">
	<link rel="stylesheet" type="text/css" th:href="@{/css/all.css}">
	<link rel="stylesheet" type="text/css" th:href="@{/css/aicc_potal.css}">

	<!--[if lte IE 9]>
	<script th:src="@{/js/html5shiv.min.js}"></script>
	<script th:src="@{/js/respond.min.js}"></script>

	<div class="lyrWrap">
		<div class="lyr_bg ie9"></div>
		<div class="lyrBox">
			<div class="lyr_top">
				<h3>브라우저 업데이트 안내</h3>
			</div>
			<div class="lyr_mid">
				<div class="legacy-browser">
					현재 사용중인 브라우저는 지원이 중단된 브라우저입니다.<br>
					원활한 온라인 서비스를 위해 브라우저를 <a href="http://windows.microsoft.com/ko-kr/internet-explorer/ie-11-worldwide-languages" target="_blank">최신 버전</a>으로 업그레이드 해주세요.
				</div>
			</div>
			<div class="lyr_btm">
				<div class="btnBox sz_small">
					<button class="btn_win_close">창 닫기</button>
				</div>
			</div>
		</div>
	</div>
	<![endif]-->
	<title>로그인 &gt; AICC</title>
</head>

<body class="gcsLoginWrap">
<!-- .page loading -->
<div id="pageldg">
    <span class="out_bg">
        <em>
            <strong>&nbsp;</strong>
            <strong>&nbsp;</strong>
            <strong>&nbsp;</strong>
            <b>&nbsp;</b>
        </em>
    </span>
</div>
<!-- //.page loading -->

<div class="main_tit">
	<h1><span>Minds Lab </span>Fast AICC</h1>
</div>
<div class="loginContainer">
	<form th:action="@{/login}" method="POST" class="loginWrap" id="login_form" name="form-login">
		<fieldset>
			<legend>Login</legend>
			<div class="loginBox">
				<div class="fl">LOGIN</div>
				<div class="fr">
					<span>
						<input type="text" name="loginId" id="ipt_id" class="ipt_txt" placeholder="E-mail" autocomplete="new-loginId">
					</span>
					<span>
						<input type="password" name="password" id="ipt_pw" class="ipt_txt" placeholder="Password" autocomplete="new-password">
					</span>
					<span class="checkBox">
						<input type="checkbox" id="saveId" name="saveId" class="ipt_check">
                    	<label for="saveId">아이디 저장</label>
					</span>
					<span>
						<div align="center" th:if="${param.error}">
							<p style="color:rgba(255,0,0,1.0); font-size:12px;" th:text="${param.errormsg}"></p>
						</div>
						<button type="Submit" name="btn_login" id="btn_login" class="btn_login">Login</button>
					</span>
				</div>
			</div>
		</fieldset>
	</form>
</div>
<div class="copyRight"><span>MINDsLab © 2019</span></div>

<!-- 공통 script -->
<script type="text/javascript" th:src="@{/js/jquery-1.11.2.min.js}"></script>
<script type="text/javascript" th:src="@{/js/all.js}"></script>
<script type="text/javascript" th:src="@{/js/common.js(${#dates.createToday()})}"></script>
<!-- page Landing -->
<script type="text/javascript">
	$(window).load(function() {
		//page loading delete
		$('#pageldg').addClass('pageldg_hide').delay(300).queue(function() { $(this).remove(); });
	});
</script>

<script type="text/javascript">

	$(function(){
		var loginId = getCookie("Cookie_loginId");
		$("#ipt_id").val(loginId);

		if($("#ipt_id").val() != "")
			$("#saveId").attr("checked", true);
	});

	$(document).ready(function() {
		$("form").on("submit", function() {
			if( $("#ipt_id").val() == ""){
				alert('아이디를 입력해주세요.');
				$("#ipt_id").focus();
				return false;
			}
			if( $("#ipt_pw").val() == "" ){
				alert('비밀번호를 입력해주세요.');
				$("#ipt_pw").focus();
				return false;
			}

			if($("#saveId").is(":checked")){
				var loginId = $("#ipt_id").val();
				setCookie("Cookie_loginId", loginId, 30);
			}else{
				deleteCookie("Cookie_loginId");
			}
		});
	});

	function setCookie(cookieName, value, exdays){
		var exdate = new Date();
		exdate.setDate(exdate.getDate() + exdays);
		var cookieValue = escape(value) + ((exdays==null) ? "" : "; expires=" + exdate.toGMTString());
		document.cookie = cookieName + "=" + cookieValue;
	}

	function getCookie(cookieName) {
		cookieName = cookieName + '=';
		var cookieData = document.cookie;
		var start = cookieData.indexOf(cookieName);
		var cookieValue = '';
		if(start != -1){
			start += cookieName.length;
			var end = cookieData.indexOf(';', start);
			if(end == -1)end = cookieData.length;
			cookieValue = cookieData.substring(start, end);
		}
		return unescape(cookieValue);
	}

	function deleteCookie(cookieName){
		var expireDate = new Date();
		expireDate.setDate(expireDate.getDate() - 1);
		document.cookie = cookieName + "= " + "; expires=" + expireDate.toGMTString();
	}
</script>

</body>
</html>
